<style>
    #table_message tr:hover {
        background-color: #a9a9a9;
    }
</style>
<div class="container center-block" id="message-content">
    <div id="" class="center-block">
        <div id="header_message" class="row">
            <div class="col-sm-2 align_col">
                <h1>Tin nhắn</h1>
            </div>
            <div class="col-sm-3 align_col" style="padding-top: 15px;">
                <div class="btn-group">
                    <button class="btn btn-default" ng-if="!Sent">
                        Hộp thư đến
                    </button>
                    <button class="btn btn-default" ng-if="Sent">
                        Thư đã gửi
                    </button>
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="" ng-click="changeInboxSent('inbox')">Hộp thư đến <span ng-if="Unread" class="badge">{{Unread}}</span></a>
                        </li>
                        <!-- <li class="divider">s
                        </li> -->
                        <li>
                            <a href="" ng-click="changeInboxSent('sent')">Thư đã gửi</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="search_box" class="col-sm-7" style="padding-top: 15px;">
                <form id="" action="" style="display: inline;" method="get">
                    <div class="search-box ">
                        <span class="icon glyphicon glyphicon-search"></span>
                        <input id="search-box" name="q" type="text" placeholder="tìm tin nhắn..." ng-model="searchText"/>
                    </div>
                    <input id="search-btn" value="Tìm kiếm" type="button"/>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="action_bar" class="col-sm-12">
                <div class="action-bar" style="display: inline-block">
                    <ul class="list-inline text-center">
                        <li><a class="icon circle-icon glyphicon glyphicon-plus" data-toggle="modal" data-target="#newMessageModel"></a></li>
                        <li><a class="icon circle-icon glyphicon glyphicon-refresh"></a></li>
                        <li><a class="icon circle-icon red glyphicon glyphicon-remove" ng-click="Delete()"></a></li>
                        <li><a class="icon circle-icon red glyphicon glyphicon-flag"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <table id="table_message">
                <tr ng-repeat="conversation in ListConversations | filter:searchFilter" ng-class="{bold: !conversation.IsRead}">
                    <td id="col_checkbox">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" style="cursor: pointer" ng-click="ToggleSelection(conversation.ConversationID)" value="{{conversation.ConversationID}}"/>
                        </div>
                    </td>
                    <td id="col_from" ng-show="!Sent">Từ: {{conversation.SenderName}}</td>
                    <td id="col_from" ng-show="Sent">Tới: {{conversation.ReceiverName}}</td>
                    <td id="col_content" style="cursor: pointer" ng-click="showConversationDetail(conversation.ConversationID)">{{conversation.Title}}</td>
                    <td id="col_time">{{conversation.UpdatedDate | date:'shortDate'}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!--Modal new message-->
    <div class="modal fade" id="newMessageModel" tabindex="-1" role="dialog" aria-labelledby="newMessageModel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="NewMessageForm" novalidate>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="newMessageModelLabel">Gửi tin nhắn mới</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ToAddress">Người nhận:</label>
                            @*<input type="text" name="ToUser" class="form-control" placeholder="" ng-model="NewMessage.ToUser"/>*@
                            <input type="text" name="ToUser" ng-model="NewMessage.ToUser" placeholder="Nhập tên người nhận..."
                                   typeahead="user as user.UserName for user in getUserName($viewValue)"
                                   typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                                   typeahead-template-url="customTemplate.html" required=""
                                   class="form-control">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> Không tìm thấy
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Title">Tiêu đề:</label>
                            <input type="text" class="form-control" placeholder="Nhập tiêu đề..." name="Title"
                                   ng-model="NewMessage.Title"
                                   required=""
                                   ng-minlength="8"
                                   ng-maxlength="50"/>
                        </div>
                        <div>
                            <label for="">Nội dung:</label>
                            <div text-angular name="Content" ng-model="NewMessage.Content"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary" ng-click="sendMessage()"
                                ng-disabled="!NewMessageForm.$dirty || (NewMessageForm.$dirty && NewMessageForm.$invalid)">
                            Gửi
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="customTemplate.html">
    <a>
        <span>{{match.model.FullName}}</span>
        <span>({{match.model.UserName}})</span>
    </a>
</script>
