<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="../Contents/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Contents/discover.css" type="text/css">
    <link rel="stylesheet" href="../Contents/created_project.css" type="text/css">
    <link rel="stylesheet" href="../Contents/style.css" type="text/css">
 <!--    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<body>
	<div id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home_logged.html">DoI.com</a>
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Discover</a></li>
            <li><a href="create_project1.html">Start</a></li>
            <li role="separator" class="divider-vertical"></li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group inner-addon left-addon">
              <span class="glyphicon glyphicon-search"></span>
              <input type="text" class="form-control" placeholder="Search Projects">
            </div>
          </form>
          <ul id="profile_dropdown" class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img id="avatar" src="../images/avatar_default.png" alt="" class="img-responsive img-circle center-block">
                MyName
                <span class="caret"></span>
              </a>
              
              <ul class="dropdown-menu">
                <h4>My stuff</h4>
                <li><a href="#">Message <span class="badge">3</span></a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Backed projects</a></li>
                <li><a href="#">Created projects</a></li>
                <li><a href="#">Starred projects</a></li>
                <li class="divider"></li>
                <h4>Setting</h4>
                <li><a href="account.html">Account</a></li>
                <li><a href="editprofile2.html">Edit profile</a></li>
                <li><a href="notification.html">Notifications</a></li>
                <li class="divider"></li>
                <p class="no-wrap">You are logged is as <b>ChinhVC</b> | <a href="home.html">Log out</a></p>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div> <!--end header -->
	
	<div id="setting_container" class="container-fluid grid-setting">
	    <div class="row " id="header_link">
	    	<div class="col-sm-12 col-sm-offset-0">
	    		<ul id="" class="list-inline nav-inline h5 bold">
		            <li class="mr2"><a class="link-gray-dark" href="">Activity</a></li>
		            <li class="mr2"><a class="link-gray-dark" href="">Backed projects</a></li>
		            <li class="mr2"><a id="editprofile_header" class="editcolorheader link-gray-dark" href="">Created projects</a></li>
		            <li class="mr2"><a class="link-gray-dark" href="">Setting</a></li>
		            <li class="mr2"><a class="link-gray-dark" href="">Profile ( public )</a></li>
		            <!-- <li class="mr2"><a class="link-gray-dark" href="#">Find friends</a></li> -->
          		</ul>
	    	</div>
	    </div>
	    <div class="row">
			<div class="col-sm-12">
				<h1>Created projects</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h4>
					A place to keep track of all your created projects
				</h4>
			</div>
		</div>
		<div  class="row ">
			<div id="project_list" class="col-xs-12 col-sm-12">
				<ul class="list img-list">
					<li>
						<table>
							<tr class="border_list">
								<td class="impage_col">
									<a href="">
										<img src="https://d297h9he240fqh.cloudfront.net/assets/projects/missing_full-ef1b97a276c4f3291797f7e0915afa3d211d5b402c36f6edad251ec8f6b48040.png" alt="Image Alt Text" 
										class="img-responsive" />
									</a>
								</td>
								<td class="project_name">
									<div class="li-text ">
									<a href="">
										<h3 class="li-head">Project Name</h3>
										<p class="li-sub">Summary of content</p>
									</a>
								</div>
								</td>
							</tr>
							<tr class="border_list">
								<td class="impage_col">
									<a href="">
										<img src="https://d297h9he240fqh.cloudfront.net/assets/projects/missing_full-ef1b97a276c4f3291797f7e0915afa3d211d5b402c36f6edad251ec8f6b48040.png" alt="Image Alt Text" 
										class="img-responsive" />
									</a>
								</td>
								<td class="project_name">
									<div class="li-text ">
									<a href="">
										<h3 class="li-head">Project Name</h3>
										<p class="li-sub">Summary of content</p>
									</a>
								</div>
								</td>
							</tr>
						</table>
						
					</li>
				</ul>
			</div>
		</div>
		
    </div>
	
</body>
</html>