<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->
    <link href="../Contents/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Contents/discover.css" type="text/css">
    <link rel="stylesheet" href="../Contents/profilepublic.css" type="text/css">
    <link rel="stylesheet" href="../Contents/style.css" type="text/css">
    <!-- <link rel="stylesheet" href="../Contents/profile_public_fontawesome.css" type="text/css"> -->
 <!--    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<body>
	<div id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home_logged.html">DoI.com</a>
        </div>
      
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="discover.html">Discover</a></li>
            <li><a href="create_project1.html">Start</a></li>
            <li role="separator" class="divider-vertical"></li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
            <div class="form-group inner-addon left-addon">
              <span class="glyphicon glyphicon-search"></span>
              <input type="text" class="form-control" placeholder="Search Projects">
            </div>
          </form>
          <ul id="profile_dropdown" class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img id="avatar" src="../images/avatar_default.png" alt="" class="img-responsive img-circle center-block">
                MyName
                <span class="caret"></span>
              </a>
              
              <ul class="dropdown-menu">
                <h4>My stuff</h4>
                <li><a href="../Views/message.html">Message <span class="badge">3</span></a></li>
                <li><a href="../Views/profile_public.html">Profile</a></li>
                <li><a href="../Views/backed_project.html">Backed projects</a></li>
                <li><a href="../Views/created_project.html">Created projects</a></li>
                <li><a href="#">Starred projects</a></li>
                <li class="divider"></li>
                <h4>Setting</h4>
                <li><a href="account.html">Account</a></li>
                <li><a href="editprofile2.html">Edit profile</a></li>
                <li><a href="notification.html">Notifications</a></li>
                <li class="divider"></li>
                <p class="no-wrap">You are logged is as <b>ChinhVC</b> | <a href="home.html">Log out</a></p>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div> <!--end header -->
	<div class="container">
		<div id="profile_data" class="row ">
			<div class="col-sm-2">
				<img src="https://ksr-ugc.imgix.net/avatars/17647896/10392462_337056226498139_402189443907235508_n.original.jpg?v=1440567238&w=160&h=160&fit=crop&auto=format&q=92&s=5c064d2c2a97357d78e098404a5bb6d0" alt="" class="img-responsive">
			</div>
			<div class="col-sm-4">
				<h2>John</h2>
				<h4>Backed 0 projects</h4>
				<h4>Joined Aug 2015</h4>
			</div>
			<div class="col-sm-6 col-md-4 col-md-offset-2">
				<div id="share_profile" class="actions">   
                    <a href="">
						<i class="icon-facebook"></i>
	                    <i class="icon-twitter"></i>
	                    Share your profile 
                    </a>
                    <span class="h4">|</span>
                    <a href="../Views/editprofile2.html">Edit your profile</a>
                </div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<dl>
					<dt>
						Description lists
					</dt>
					<dd>
						A description list is perfect for defining terms.
					</dd>
					<dd>
						Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
					</dd>
					<dd>
						Donec id elit non mi porta gravida at eget metus.
					</dd>
					<dd>
						Etiam porta sem malesuada magna mollis euismod.
					</dd>
					<dd>
						Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
					</dd>
				</dl>
			</div>
			<div id="basic_info" class="col-sm-3 col-sm-offset-3">
				<div class="row">
					<i class="glyphicon glyphicon-ok"></i>
					Amirdin Badri
				</div>
				<div class="row">
					<i class="glyphicon glyphicon-lock"></i>
					Last login Sep 8 2015
				</div>
				<div class="row">
					<i class="icon-facebook" style="font-size: 18px;"></i>
					Not connected
				</div>
				<div class="row">
					<i class="glyphicon glyphicon-bold"></i>First created · <a href="">6 backed</a>
				</div>
				<div class="row">
					<button class="btn btn-primary">Contact me</button>
				</div>
			</div>
		</div>
		<div class="row">	
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>