<div class="portlet portlet-default">
    <div class="portlet-body">
        <div id="content" class="paddingNavbar">
            <div class="container-fluid">
                <h3 class="fnt24 fnt-b txt-c c3" style="font-weight: bold; font-size: 2.4rem; text-align: center; color: #16a085;">Ủng hộ dự án: "<a href="@Url.Content("/admin/#/project/{{Project.ProjectCode}}")" style="color: #337ab7 !important;">{{Project.ProjectName}}</a>"</h3>
                <p class="fnt22 fnt-b mb0 pb0" style="padding-bottom: 0; margin-bottom: 0; font-weight: bold; font-size: 2.2rem; margin: 0 0 15px; line-height: 1.72222;">Nội dung ủng hộ và gói quà:</p>
                <div class="row">
                    <div class="col-md-3">Tên dự án: </div>
                    <div class="col-md-9">{{Project.ProjectName}}1</div>
                    @*<div class="col-md-3">Gói ủng hộ: </div>*@
                    @*<div class="col-md-9"></div>*@
                    <div class="col-md-3" ng-show="Packet.Type != 'no reward'">Số lượng: </div>
                    <div class="col-md-9" ng-show="Packet.Type != 'no reward'">{{Project.Quantity}}</div>
                    <div class="col-md-3 pr0">Số tiền ủng hộ:</div>
                    <div class="col-md-9">{{Project.PledgeAmount | currency:"":0}}&#8363;</div>
                    <div class="col-md-3">Nội dung gói quà: </div>
                    <div class="col-md-9 div-textarea" style="word-break: break-word;">{{Project.RewardPkgDesc}}</div>
                    <div class="col-md-3 pr0">Thời gian:</div>
                    <div class="col-md-9">{{Project.BackedDate | date: "HH:mm 'ngày' dd-MM-yyyy"}}</div>
                </div>
                <p></p>
                <p style="border-top: 2px solid #d9d9de; border-top-style: dashed;"></p>
                <p class="fnt22 fnt-b mb0 pb0" style="padding-bottom: 0; margin-bottom: 0; font-weight: bold; font-size: 2.2rem; margin: 0 0 15px; line-height: 1.72222;">Thông tin người nhận</p>
                <div class="row">
                    <div class="col-md-3">Họ và tên: </div>
                    <div class="col-md-9"><a href="@Url.Content("/admin/#/userprofile/{{Project.BackerUsername}}")" style="color: #337ab7 !important;">{{Project.BackerName}}</a></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Email: </div>
                    <div class="col-md-9">{{Project.Email}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Địa chỉ: </div>
                    <div class="col-md-9">{{Project.Address}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Số điện thoại: </div>
                    <div class="col-md-9">{{Project.PhoneNumber}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Thông tin thêm: </div>
                    <div class="col-md-9 div-textarea" style="word-break: break-word;">{{Project.Description}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Mã hóa đơn thanh toán: </div>
                    <div class="col-md-9">{{Project.OrderId}}</div>
                </div>
                <div class="row">
                    <div class="col-md-3">Mã giao dịch: </div>
                    <div class="col-md-9">{{Project.TransactionId}}</div>
                </div>
            </div>
        </div> <!-- end content -->
    </div>
</div>

