<!-- begin DASHBOARD CIRCLE TILES -->
<div class="row">
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a onclick="return false" href="#">
                <div class="circle-tile-heading dark-blue">
                    <i class="fa fa-users fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded">
                    Số người dùng
                </div>
                <div class="circle-tile-number text-faded">
                    {{BasicInfo.TotalUser | currency:"":0}}
                    <span id="sparklineA"></span>
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a onclick="return false" href="#">
                <div class="circle-tile-heading blue">
                    <i class="fa fa-tasks fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Số dự án
                </div>
                <div class="circle-tile-number text-faded">
                    {{BasicInfo.TotalProject | currency:"":0}}
                    <span id="sparklineB"></span>
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a onclick="return false" href="#">
                <div class="circle-tile-heading red">
                    <i class="fa fa-shopping-cart fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content red">
                <div class="circle-tile-description text-faded">
                    Số tiền được ủng hộ
                </div>
                <div class="circle-tile-number text-faded">
                    {{BasicInfo.TotalFund | currency:"":0}}&#8363;
                    <span id="sparklineC"></span>
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a onclick="return false" href="#">
                <div class="circle-tile-heading green">
                    <i class="fa fa-money fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content green">
                <div class="circle-tile-description text-faded">
                    Lợi nhuận
                </div>
                <div class="circle-tile-number text-faded">
                    {{BasicInfo.TotalProfit | currency:"":0}}&#8363;
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a onclick="return false" href="#">
                <div class="circle-tile-heading purple">
                    <i class="fa fa-plus-circle fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content purple">
                <div class="circle-tile-description text-faded">
                    Số dự án chờ duyệt
                </div>
                <div class="circle-tile-number text-faded">
                    {{BasicInfo.NewProject | currency:"":0}}
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a onclick="return false" href="#">
                <div class="circle-tile-heading orange">
                    <i class="fa fa-rocket fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Số dự án đang chạy
                </div>
                <div class="circle-tile-number text-faded">
                    {{BasicInfo.LiveProject | currency:"":0}}
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
</div>
<!-- end DASHBOARD CIRCLE TILES -->
<!-- Donut Chart Example -->
<div class="row">
    <!-- Categories -->
    <div class="col-lg-4 col-md-12">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Lĩnh vực</h4>
                </div>
                <div class="portlet-widgets">
                    <a onclick="return false" href="javascript:;">@*<i class="fa fa-refresh"></i>*@</a>
                    <span class="divider"></span>
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#cate"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="cate" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="portlet-body">
                        <canvas id="doughnut" class="chart chart-doughnut"
                                chart-data="Categories.Data" chart-labels="Categories.Labels" chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rank -->
    <div class="col-lg-4 col-md-12">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Hạng dự án</h4>
                </div>
                <div class="portlet-widgets">
                    <a onclick="return false" href="javascript:;">@*<i class="fa fa-refresh"></i>*@</a>
                    <span class="divider"></span>
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#rank"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="rank" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="portlet-body">
                        <canvas id="donut_Rank" class="chart chart-doughnut"
                                chart-data="donut_Rank.Data" chart-labels="donut_Rank.Labels" chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Rate -->
    <div class="col-lg-4 col-md-12">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Tỉ lệ thành công</h4>
                </div>
                <div class="portlet-widgets">
                    <a onclick="return false" href="javascript:;">@*<i class="fa fa-refresh"></i>*@</a>
                    <span class="divider"></span>
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#rate"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="rate" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="portlet-body">
                        <canvas id="donut_Rate" class="chart chart-doughnut"
                                chart-data="donut_Rate.Data" chart-labels="donut_Rate.Labels" chart-legend="true"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end donut chart -->
<!-- begin top table -->
<div class="row">
    <!-- Top Backer -->
    <div class="col-lg-6">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Những người ủng hộ nhiều nhất</h4>
                </div>
                <div class="portlet-widgets">
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="transactionsPortlet" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive dashboard-demo-table">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Số dự án</th>
                                    <th>Số tiền(VNĐ)</th>
                                    <th style="width: 100px">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="backer in TopBacker">
                                    <td class="col-text">{{backer.FullName}}</td>
                                    <td class="col-number">{{backer.TotalProject  | currency:"":0}}</td>
                                    <td class="col-number">{{backer.TotalPledgedAmount  | currency:"":0}}</td>
                                    <td class="col-text">
                                        <a class="btn btn-xs btn-green" ng-if="backer.Status == true">Bình thường</a>
                                        <a class="btn btn-xs btn-red" ng-if="backer.Status == false">Khóa</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end top backers -->
    <!-- begin recent user table -->
    <div class="col-lg-6">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Người dùng vừa đăng nhập</h4>
                </div>
                <div class="portlet-widgets">
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet3"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="transactionsPortlet3" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive dashboard-demo-table">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Tên</th>
                                    <th>Đăng nhập cuối</th>
                                    <th style="width: 100px">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in RecentUser">
                                    <td class="col-text">{{user.FullName}}</td>
                                    <td class="col-number">{{user.LastLogin | date: "HH:mm 'ngày' dd-MM-yyyy"}}</td>
                                    <td class="col-text">
                                        <a class="btn btn-xs btn-green" ng-if="user.Status == true">Bình thường</a>
                                        <a class="btn btn-xs btn-red" ng-if="user.Status == false">Khóa</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end recent user table -->
</div>
<!-- end top table -->
<!-- begin recent user and recent backing table -->
<div class="row">
    <!-- Top Projects -->
    <div class="col-lg-6">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Những dự án thành công nhất</h4>
                </div>
                <div class="portlet-widgets">
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet2"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="transactionsPortlet2" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive dashboard-demo-table">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Dự án</th>
                                    <th>Lĩnh vực</th>
                                    <th>Chủ dự án</th>
                                    <th>Mục tiêu(VNĐ)</th>
                                    <th>Quỹ(VNĐ)</th>
                                    <th style="width: 100px">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="project in TopProject">
                                    <td class="col-text"><a href="@Url.Content("/admin/#/project/{{project.ProjectCode}}")">{{project.Title}}</a></td>
                                    <td class="col-text">{{project.Category}}</td>
                                    <td class="col-text"><a href="@Url.Content("/admin/#/userprofile/{{project.CreatorUsername}}")">{{project.CreatorFullname}}</a></td>
                                    <td class="col-number">{{project.FundingGoal | currency:"":0}}</td>
                                    <td class="col-number">{{project.CurrentFunded | currency:"":0}}</td>
                                    <td class="col-text">
                                        <a class="btn btn-xs btn-green" ng-if="project.Status == 'approved'">Đang chạy</a>
                                        <a class="btn btn-xs btn-red" ng-if="project.Status == 'expired'">Hết hạn</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end top Projects -->
    <!-- begin recent backing table -->
    <div class="col-lg-6">
        <div class="portlet portlet-green">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Lượt ủng hộ mới</h4>
                </div>
                <div class="portlet-widgets">
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet4"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="transactionsPortlet4" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="table-responsive dashboard-demo-table">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Người ủng hộ</th>
                                    <th>Dự án</th>
                                    <th>Tiền ủng hộ(VNĐ)</th>
                                    <th>Thời gian</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="backing in RecentBacking">
                                    <td class="col-text">{{backing.Email}}</td>
                                    <td class="col-text">{{backing.ProjectTitle}}</td>
                                    <td class="col-number">{{backing.PledgeAmount | currency:"":0}}</td>
                                    <td class="col-number">{{backing.BackedDate | date: "HH:mm 'ngày' dd-MM-yyyy"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- end recent backing table -->
    </div>
</div>
<!-- end recent user table -->
<!-- begin statistic chart -->
<div class="row">
    <!-- Line Chart Example -->
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Biểu đồ thống kê dự án theo năm</h4>
                </div>
                <div class="portlet-widgets">
                    <select class="form-control project-chart" ng-model="selectedChartYear"
                            ng-options="year.name for year in chartYear track by year.value" ng-change="updateChart()"></select>
                    <a onclick="return false" data-toggle="collapse" data-parent="#accordion" href="#lineChart"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="lineChart" class="panel-collapse collapse in">
                <highchart id="chart1" config="highchartsNG"></highchart>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- end statistic chart -->
<!-- begin STATISTICS table -->
<div class="row">
    <div class="col-lg-12">
        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Thống kê dự án</h4>
                </div>
                <div class="portlet-widgets">
                    <select class="form-control project-chart" ng-model="selectedTableOption"
                            ng-options="option.name for option in tableOption track by option.value" ng-change="changeTable()"></select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table id="example-table" class="table table-striped table-bordered table-hover table-green"
                           datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                        <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Số dự án tạo</th>
                                <th>Dự án thành công</th>
                                <th>Dự án thất bại</th>
                                @*<th>Dự án đang chạy</th>*@
                                <th>Tổng số đóng góp(VNĐ)</th>
                                <th>Đóng góp thành công(VNĐ)</th>
                                <th>Lợi nhuận(VNĐ)</th>
                                <th>Tỉ lệ thành công</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="statistic in StatisticTable">
                                <td class="col-number" ng-if="selectedTableOption.value == 'year'">{{statistic.Time | date: "yyyy" }}</td>
                                <td class="col-number" ng-if="selectedTableOption.value == 'month'">{{statistic.Time | date: "MM-yyyy" }}</td>
                                <td class="col-number">{{statistic.TotalProject | currency:"":0}}</td>
                                <td class="col-number">{{statistic.TotalSucceed | currency:"":0}}</td>
                                <td class="col-number">{{statistic.TotalFail | currency:"":0}}</td>
                                @*<td class="col-number">{{statistic.LiveProject | currency:"":0}}</td>*@
                                <td class="col-number">{{statistic.TotalFund | currency:"":0}}</td>
                                <td class="col-number">{{statistic.SucceedFund | currency:"":0}}</td>
                                <td class="col-number">{{statistic.TotalProfit | currency:"":0}}</td>
                                <td class="col-number">{{statistic.TotalSucceed*100/statistic.TotalProject | number:0}}%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- end STATISTICS table -->