/* Animations */
.slide-animation-container {
    position:relative;
}

.slide-animation.ng-enter, .slide-animation.ng-leave {
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position: relative;
    /*top: 0;
    left: 0;
    right: 0;*/
    height: 1000px;
}

.slide-animation.ng-enter {
  z-index:100;
  left:100px;
  opacity:0;
}

.slide-animation.ng-enter.ng-enter-active {
  left:0;
  opacity:1;
}

.slide-animation.ng-leave {
  z-index:101;
  opacity:1;
  left:0;
}

.slide-animation.ng-leave.ng-leave-active {
  left:-100px;
  opacity:0;
}


.view-animate-container {
  position:relative;
  height:100px!important;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}