@{
    ViewBag.Title = "Add New Project";
}

<form class="form-horizontal" role="form" name="CreateProjectForm" novalidate>
    <div id="content" class="paddingNavbar" style="min-height: 577px; background-color: #f7fafa;">
        <div id="create_project">
            <div class="container">
                <div class="col-md-8 col-md-push-2" id="main-content">
                    <h1 class="text-center fontsize-45 row">What are you going to create?</h1>
                    <div class="form-group text-center" id="form-input">
                        <div class="row">
                            <h1 for="sel1"><small>I want to start a</small></h1>
                            <select class="form-control input-lg" ng-model="selectedOption" id="sel1"
                                    ng-options="category.Name for category in Categories track by category.CategoryID "></select>
                            <h1 for="sel1"><small>project called</small></h1>
                        </div>
                        <div class="row">
                            <input type="text" id="project_name" name="ProjectTitle" ng-model="Project.Title" ng-trim="true" required
                                   class="form-control input-lg  center-block input-transparent" placeholder="title...">
                            <br />
                            <input type="number" class="form-control center-block input-transparent" ng-model="Project.FundingGoal"
                                   required ng-trim="true">
                        </div>
                        <div class="row">
                            <p><a href="#" class="btn btn-success btn-lg pull-right" ng-click="save()"
                                ng-disabled="!CreateProjectForm.$dirty || (CreateProjectForm.$dirty && CreateProjectForm.$invalid)">Start</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end create_project -->
    </div> <!-- end content -->
</form>
    