<div id="profile" class="paddingNavbar">
    <div class="container">
        <h4>Thiết lập</h4>
        <div class="row pl15">
            <ul class="list-inline">
                <li><a href="@Url.Content("/#/user/editpassword/")" class="fnt18 fnt-b link-gray-dark">Tài khoản</a></li>
                <li><a href="@Url.Content("/#/user/editprofile/")" class="fnt18 fnt-b">Sửa thông tin cá nhân</a></li>
                <li><a href="@Url.Content("/#/user/publicprofile/")" class="fnt18 fnt-b link-gray-dark">Thông tin công khai</a></li>
            </ul>
        </div>
    </div> <!-- end SETTING -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="ChangepassForm" name="ChangepassForm" role="form">
                    <div class="form-group ">
                        <div for="email" class="pb20">
                            <label for="email" class="fnt18 fnt-b">Email</label>
                            <div class="input-group mt0">
                                <span class="form-control" type="email" placeholder="Email">{{userPass.Email}}</span>
                                <span class="input-group-btn">
                                    <button type="" class="btn"><span class="fui-mail"></span></button>
                                </span>
                            </div>
                        </div>
                        <div ng-show="userPass.LoginType != 'facebook'">
                            <label for="pass" class="fnt18 fnt-b">Mật khẩu</label>
                            <div class="form-group ">
                                <a id="btnChangePass" class="btn btn-default btn-lg btn-block">Thay đổi mật khẩu</a>
                            </div>
                            <div id="changePass" class="changePassHide">
                                <label class="login-field-icon fui-lock" for="Password"></label>
                                <label for="pass" class="fnt18 fnt-b">Mật khẩu hiện tại</label>
                                <div class="form-group input-group">
                                    <input class="form-control" type="password" placeholder="Mật khẩu hiện tại"
                                           name="Password"
                                           ng-model="userPass.CurrentPassword"
                                           required>
                                    <span class="input-group-btn">
                                        <button type="" class="btn"><span class="fui-lock"></span></button>
                                    </span>
                                </div> <!-- currentPass -->
                                @*<span class="glyphicon glyphicon-ok text-success form-control-feedback" ng-show="RegisterForm.Password.$dirty && RegisterForm.Password.$valid"></span>*@
                                <div ng-show="ChangepassForm.Password.$dirty && ChangepassForm.Password.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="ChangepassForm.Password.$error.required">Bạn chưa nhập mật khẩu</span>
                                </div>

                                <label class="login-field-icon fui-lock" for="Password"></label>
                                <label for="pass" class="fnt18 fnt-b">Mật khẩu mới</label>
                                <div class="form-group input-group">
                                    <input class="form-control" type="password" placeholder="Mật khẩu mới"
                                           name="NewPassword"
                                           ng-model="userPass.NewPassword"
                                           required>
                                    <span class="input-group-btn">
                                        <button type="" class="btn"><span class="fui-lock"></span></button>
                                    </span>
                                </div>
                                @*<span class="glyphicon glyphicon-ok text-success form-control-feedback" ng-show="RegisterForm.Password.$dirty && RegisterForm.Password.$valid"></span>*@
                                <div ng-show="ChangepassForm.NewPassword.$dirty && ChangepassForm.NewPassword.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="ChangepassForm.NewPassword.$error.required">Bạn chưa nhập mật khẩu mới</span>
                                </div>

                                <label class="login-field-icon fui-lock" for="Password"></label>
                                <label for="pass" class="fnt18 fnt-b">Xác nhận mật khẩu</label>
                                <div class="form-group input-group">
                                    <input class="form-control" type="password" placeholder="Xác nhận mật khẩu"
                                           ng-model="userPass.NewPasswordConfirm"
                                           name="rePassword"
                                           password-match="userPass.NewPassword">
                                    <span class="input-group-btn">
                                        <button type="" class="btn"><span class="fui-lock"></span></button>
                                    </span>
                                </div>
                                <div ng-show="ChangepassForm.rePassword.$dirty && ChangepassForm.rePassword.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="ChangepassForm.rePassword.$error.unique">Mật khẩu xác nhận không giống</span>
                                </div>

                            </div> <!-- changePassBox -->
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary btn-lg btn-block" ng-click="submit()" 
                   ng-disabled="!ChangepassForm.$dirty || (ChangepassForm.$dirty && ChangepassForm.$invalid)">Lưu thiết lập</button>
            </div> <!-- left-ACCOUNT -->
            <div class="col-md-6">
            </div>
        </div> <!-- end Container -->
    </div> <!-- end ACCOUNT -->

</div> <!-- end PROFILE -->

<script>

      $(document).ready(function(){
        $('#btnChangePass').click(function () {
          $('#changePass').toggleClass("changePassHide changePassShow", 300);
        });
      });
</script>