
<div id="profile_public" class="paddingNavbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <img id="avatar-profile" src="{{UserBasicInfo.ProfileImage}}" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-8 pt10">
                        <h3 class="fnt24 mt0 mb10">{{UserBasicInfo.FullName}}</h3>
                        <p class="mt0 mb0">Tạo: 0 dự án</p>
                        <p class="mt0 mb0">Ủng hộ: {{UserBasicInfo.CountBackedProject}} dự án</p>
                        <p>Tham gia vào: {{UserBasicInfo.CreatedDate | date:"MM/dd/yyyy"}}</p>
                    </div>
                </div>
                <div class="row pl10 pr10 pt20">
                    <div class="readability">
                        <h5 class="fnt22 fnt-b">Description lists</h5>
                        <p>{{UserBasicInfo.Biography}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="width:350px">
                <div class="mt5 mb5 border-b"><i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;Đăng nhập lần cuối: {{UserBasicInfo.LastLogin | date:"HH:mm MM/dd/yyyy"}}</div>
                <div class="mt5 mb5 border-b"><i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;{{UserBasicInfo.Website}}</div>
                <div class="mt5 mb5 border-b"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{UserBasicInfo.FacebookUrl}}</div>
                <div class="mt5 mb5">
                    <button class="btn btn-primary">Liên hệ với tôi</button>
                </div>
            </div>
        </div> <!-- end ROW -->
    </div> <!--end CONTAINER -->
</div> <!-- end PROFILE PUBLIC -->