<div id="content" class="paddingNavbar">
    <div id="back_project">
        <div class="container">
            <div class="title text-center">
                <h3 class="fnt30 mb0 pb0"><a href="project_detail.html">{{Project.Title}}</a></h3>
                <p class="fnt18 mt0 pt0">by <a class="fnt-b" href="">{{Project.Creator}}</a></p>
            </div>
            <div class="row mr30 ml30">
                <div class="col-md-8 pull-left">
                    <p class="fnt22 fnt-b">Hãy chọn mức ủng hộ!</p>
                    <div id="choose_reward">
                        <div class="form-group">
                            <div class="item-radio mt20 mb20" ng-repeat="reward in RewardPkgs">
                                <label class="radio" for="radio{{$index + 1}}">
                                    <input name="optionsRadios2" class="custom-radio"
                                           type="radio" ng-model="$parent.model" data-toggle="radio" value="{{$index + 1}}" id="radio{{$index + 1}}" ng-click="selectReward($index+1)" required>
                                    <span class="icons">
                                        <span class="icon-unchecked"></span>
                                        <span class="icon-checked"></span>
                                    </span>
                                    <div class="row pb20">
                                        <div class="col-md-8">
                                            <div class="fnt18"><span class="fnt-b">{{reward.PledgeAmount | currency:"":0}}&#8363; hoặc hơn</span></div>
                                            <p>
                                                Kiểu:
                                                <span ng-if="reward.Type == 'no reward'">Không phần thưởng</span>
                                                <span ng-if="reward.Type == 'limited'">Giới hạn</span>
                                                <span ng-if="reward.Type == 'unlimited'">Không giới hạn</span>
                                            </p>
                                            <p>Đã ủng hộ: {{reward.CurrentQuantity | currency:"":0}} <span ng-if="reward.Type == 'limited'">| {{reward.Quantity | currency:"":0}}</span></p>
                                            <p style="word-break: break-word;" class="div-textarea">{{reward.Description}}</p>
                                            <p ng-if="reward.Quantity <= reward.CurrentQuantity && reward.Type == 'limited'">
                                                <span class="label label-danger">Gói đã hết. Xin chọn gói khác!</span>
                                            </p>
                                        </div>
                                        <div class="col-md-4" ng-if="reward.Type != 'no reward'">
                                            <p class="fnt-b mt0 pt0">Thời gian giao hàng</p>
                                            <p class="mt0 pt0">{{reward.EstimatedDelivery | date:"MM/yyyy"}}</p>
                                        </div>
                                    </div>
                                    <!-- expand -->
                                    <div class="item-expand pt10 bt-dash" ng-show="indexFlag == $index + 1">
                                        <div ng-hide="reward.Quantity <= reward.CurrentQuantity && reward.Type == 'limited'">
                                            <form class="form-inline" name="rewardFrom" role="form" novalidate>
                                                <p class="fnt18 fnt-b pt0 pp0">Ủng hộ:</p>
                                                <div class="form-group pb10">
                                                    <div class="input-group pl10">
                                                        <input type="text" format="number"
                                                               class="form-control"
                                                               ng-model="BackData.PledgeAmount"
                                                               placeholder="Nhập số tiền"
                                                               ng-trim="true"
                                                               required
                                                               name="PledgeAmount{{$index}}" />
                                                        <span class="input-group-addon">&#8363;</span>
                                                        @*<div ng-show="rewardFrom.PledgeAmount{{$index}}.$dirty && rewardFrom.PledgeAmount{{$index}}.$invalid" class="text-danger">
                                                                <span class="glyphicon glyphicon-remove text-danger"></span>
                                                                <span ng-show="rewardFrom.PledgeAmount{{$index}}.$error.required">Bạn chưa nhập số tiền</span>
                                                                <span ng-show="rewardFrom.PledgeAmount{{$index}}.$error.min">Số tiền phải là chữ số và lớn hơn {{reward.PledgeAmount*BackData.Quantity}}</span>
                                                            </div>*@
                                                    </div>
                                                </div>
                                                <div class="form-group pb10 pl10" ng-if="reward.Type != 'no reward'">
                                                    <div class="input-group">
                                                        <input type="text" format="number"
                                                               class="form-control"
                                                               ng-model="BackData.Quantity"
                                                               placeholder="Nhập số lượng"
                                                               name="Quantity{{$index}}"
                                                               value="1"
                                                               min="1"
                                                               ng-trim="true"
                                                               required />
                                                        <span class="input-group-addon">SL</span>
                                                        @*<div ng-show="rewardFrom.Quantity{{$index}}.$dirty && rewardFrom.Quantity{{$index}}.$invalid" class="text-danger">
                                                                <span class="glyphicon glyphicon-remove text-danger"></span>
                                                                <span ng-show="rewardFrom.Quantity{{$index}}.$error.required">Bạn chưa nhập số lượng</span>
                                                                <span ng-show="rewardFrom.Quantity{{$index}}.$error.min">Số lượng phải là chữ số và lớn hơn 1</span>
                                                            </div>*@
                                                    </div>
                                                    @*<div class="input-group" ng-if="reward.Type == 'limited'">
                                                            <input type="number" class="form-control" ng-model="BackData.Quantity"
                                                                   placeholder="Nhập số lượng"
                                                                   name="Quantity{{$index}}"
                                                                   value="1" ng-min="1"
                                                                   ng-model-options="{ updateOn: 'change blur'}"
                                                                   ng-max="{{reward.Quantity - reward.CurrentQuantity}}" required />
                                                            <span class="input-group-addon">SP</span>
                                                            <div ng-show="rewardFrom.Quantity{{$index}}.$dirty && rewardFrom.Quantity{{$index}}.$invalid" class="text-danger">
                                                                <span class="glyphicon glyphicon-remove text-danger"></span>
                                                                <span ng-show="rewardFrom.Quantity{{$index}}.$error.required">Bạn chưa nhập số lượng</span>
                                                                <span ng-show="rewardFrom.Quantity{{$index}}.$error.min">Số lượng phải là chữ số và lớn hơn  hoặc bằng 1</span>
                                                                <span ng-show="rewardFrom.Quantity{{$index}}.$error.max">Số lượng phải là chữ số và nhờ hơn hoặc bằng {{reward.Quantity - reward.CurrentQuantity}}</span>
                                                            </div>
                                                        </div>*@
                                                </div>
                                                <button class="form-control btn btn-primary mb10" ng-disabled="rewardFrom.$invalid && rewardFrom.$dirty"
                                                        ng-click="back($index)">
                                                    Tiếp tục
                                                </button>
                                                <div class="row pb20 text-danger" ng-if="isError && (BackData.PledgeAmount == null || BackData.PledgeAmount === '')">
                                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                                    <span>Bạn chưa nhập số tiền ủng hộ</span>
                                                </div>
                                                <div class="row pb20 text-danger" ng-if="isError && (BackData.PledgeAmount < reward.PledgeAmount * BackData.Quantity)">
                                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                                    <span>Số tiền ủng hộ phải lớn hơn hoặc bằng {{reward.PledgeAmount | currency:"":0}}*SL tức {{reward.PledgeAmount*BackData.Quantity | currency:"":0}}&#8363;</span>
                                                </div>
                                                <div class="row pb20 text-danger" ng-if="isError && (reward.Type != 'no reward' && BackData.Quantity < 1)">
                                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                                    <span>Số lượng ít nhất phải lớn hơn hoặc bằng 1</span>
                                                </div>
                                                <div class="row pb20 text-danger" ng-if="isError && (reward.Type == 'limited' && BackData.Quantity > (reward.Quantity - reward.CurrentQuantity))">
                                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                                    <span>Số lượng phải nhỏ hơn hoặc bằng {{reward.Quantity - reward.CurrentQuantity}}</span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </label>
                            </div> <!-- item-radio -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pull-right pt30">
                    <div class="fnt16 border-tips">
                        <p class="bold">DDL không phải là một của hàng.</p>
                        <p>DDL là nơi giúp mang những ý tưởng mới đến với thực tế.</p>
                        <p>Tuy nhiên chúng tôi không đảm bảo các dự án sẽ thành công 100%. Trách nhiệm hoàn thành dự án đùng các thời gian cam kết thuộc về người chủ dự án.</p>
                        <p><a href="">Tìm hiều thêm</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end feature3 -->
</div> <!-- end content -->
