<div id="infoBanker">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading bold" style="font-weight: bold;">Thông tin</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Thông tin người ủng hộ</h3>
                        <div class="row">
                            <div class="col-md-3 pt30">
                                <a ng-if="!checkHTTP(Project.ProfileImage)" href="@Url.Content("/admin/#/userprofile/{{Project.BackerUsername}}")">
                                    <img id="avatar1" style="width: 115px; height: 115px;" ng-src="../images/avatars/{{Project.BackerImg}}" alt="" class="img-responsive img-circle center-block">
                                </a>
                                <a ng-if="checkHTTP(Project.ProfileImage)" href="@Url.Content("/admin/#/userprofile/{{Project.BackerUsername}}")">
                                    <img id="avatar1" style="width: 115px; height: 115px;" ng-src="{{trustSrc(Project.BackerImg)}}" alt="" class="img-responsive img-circle center-block">
                                </a>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>Tên đầy đủ</label>
                                    <input type="text" class="form-control" value="{{Project.BackerName}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" value="{{Project.Email}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    <input type="text" class="form-control" value="{{Project.Address}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>SĐT</label>
                                    <input type="text" class="form-control" value="{{Project.PhoneNumber}}" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Thông tin thêm</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Lời nhắn :</label>
                                    <textarea class="form-control" rows="3" style="height: 256px" disabled>{{Project.Description}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- info Banker -->

<div id="paymentReward">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading bold" style="font-weight: bold;">Mức ủng hộ</div>
            <div class="panel-body">
                <p style="color: #16a085; font-size: 3rem; font-weight: bold; padding: 0; text-align: center;">Dự án: "<a href="@Url.Content("/admin/#/project/{{Project.ProjectCode}}")">{{Project.ProjectName}}</a>"</p>
                <p style="font-size: 1.8rem; text-align: center; line-height: 1.72222; padding: 0; font-weight: bold;">Chủ dự án: "<a href="@Url.Content("/admin/#/userprofile/{{Project.ProjectOwnerUsername}}")">{{Project.ProjectOwner}}</a>"</p>
                <p style="font-weight: bold;">Chi tiết gói quà:</p>
                <p style="word-break: break-word;" class="div-textarea">{{Project.RewardPkgDesc}}</p>
                <p><span style="font-weight: bold;">Ủng hộ: </span><span style="font-weight: bold;"> {{Project.PledgeAmount | currency:"":0}}&#8363;</span><span ng-show="Project.RewardPkgType != 'no reward'"> | Số lượng: {{Project.Quantity  | currency:"":0}}</span></p>
            </div>
        </div>
    </div>
</div> <!-- payment Reward -->