@model dynamic

@{
    ViewBag.Title = "Quên mật khẩu";
}
<div class="container" ng-controller="ResetPwController">
    <div class="col-md-4 col-md-offset-4 text-center" style="margin-top: 40px">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-danger alert-dismissible ng-cloak" role="alert" ng-show="Error != null">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{Error}}
                </div>
                <div class="alert alert-success alert-dismissible ng-cloak" role="alert" ng-show="Message != null">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Message:</span>
                    {{Message}}
                </div>
                <h5>Nhập địa chỉ Email bạn đã dùng để đăng ký tài khoản và chúng tôi sẽ gửi mật khẩu mới cho bạn.</h5>
                <form role="form" name="ResetForm" novalidate>
                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" placeholder="Địa chỉ Email"
                               ng-model="Email"
                               ng-model-options="{ updateOn: 'change blur'}"
                               name="Email"
                               required
                               ng-trim="true" />
                        <span class="glyphicon glyphicon-ok text-success form-control-feedback"
                              ng-show="ResetForm.Email.$dirty && ResetForm.Email.$valid"></span>
                        <div ng-show="ResetForm.Email.$dirty && ResetForm.Email.$invalid" class="text-danger ng-cloak">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                            <span ng-show="ResetForm.Email.$error.required">Bạn chưa nhập Email!</span>
                            <span ng-show="ResetForm.Email.$error.email">Email không đúng định dạng!</span>
                        </div>
                    </div>
                    <button class="btn btn-success" style="margin-top: 10px" ng-click="submit()"
                            ng-disabled="!ResetForm.$dirty || (ResetForm.$dirty && ResetForm.$invalid)">
                        Gửi mật khẩu mới
                    </button>
                </form>
            </div>
            <div class="panel-footer">
                <p>
                    Có tài khoản? <a href="@Url.Content("/login")">Đăng nhập</a>
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    <script src="~/App/controllers/ResetPwController.js"></script>
    <script src="~/App/services/UserService.js"></script>
    <script src="~/App/services/CommonService.js"></script>
    <script src="~/App/directives/loading-bar.js"></script>
}
@section stylesheets{
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/spinner/spinner.css" rel="stylesheet">
}