<div id="content" class="paddingNavbar" style="min-height: 577px; background-color: #f7fafa;">
    <div id="login">
        <div class="container">
            <div class="col-md-5 panel panel-default center-block">
                <div class="panel-body pt10 pb10 pl10 pr10">
                    <div class="login-form">
                        <div class="login-title">
                            <h4 class="txt-c mt0 mb0 pt0 pb0">Đăng ký</h4>
                        </div>
                        <div id="login-facebook" class="mt20 mb0 pt0 pb0">
                            <a href="@Url.Content("~/Login/AuthenFacebook/")" class="btn btn-info btn-lg">
                                <i class="fa fa-facebook-official"></i> 
                                <span> Đăng nhập với Facebook</span>
                            </a>
                            <p class="text-center tip-info" style="">
                                Chúng tôi sẽ không đăng bất cứ gì lên Facebook mà không được sự cho phép của bạn.
                            </p>
                            <div class="boderbottom"></div>
                        </div>
                        <form role="form" name="RegisterForm" novalidate>
                            <!--Error messages-->
                            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="Error != null">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{Error}}
                            </div>
                            <!--Username-->
                            <div class="form-group">
                                <input type="text" class="form-control login-field" id="UserName" placeholder="Tên tài khoản"
                                       name="UserName"
                                       ng-model="User.UserName"
                                       ng-trim="true"
                                       required
                                       ng-minlength="8"
                                       ng-maxlength="20"
                                       ng-pattern="/^[a-zA-Z0-9]+$/">
                                <label class="login-field-icon fui-user" for="UserName"></label>
                                @*<span class="glyphicon glyphicon-ok text-success form-control-feedback" ng-if="RegisterForm.UserName.$dirty && RegisterForm.UserName.$valid"></span>*@
                                <div ng-show="RegisterForm.UserName.$dirty && RegisterForm.UserName.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="RegisterForm.UserName.$error.required">Bạn chưa nhập tài khoản!</span>
                                    <span ng-show="RegisterForm.UserName.$error.minlength">Tên tài khoản tối thiểu 8 kí tự!</span>
                                    <span ng-show="RegisterForm.UserName.$error.maxlength">Tên tài khoản tối đa 20 kí tự!</span>
                                    <span ng-show="RegisterForm.UserName.$error.pattern">Tên tài khoản chỉ gồm chữ và số!</span>
                                </div>
                            </div>
                            <!--Password-->
                            <div class="form-group">
                                <input type="password" class="form-control login-field" id="Password" placeholder="Mật khẩu"
                                       name="Password"
                                       ng-model="Password"
                                       required>
                                <label class="login-field-icon fui-lock" for="Password"></label>
                                @*<span class="glyphicon glyphicon-ok text-success form-control-feedback" ng-show="RegisterForm.Password.$dirty && RegisterForm.Password.$valid"></span>*@
                                <div ng-show="RegisterForm.Password.$dirty && RegisterForm.Password.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="RegisterForm.Password.$error.required">Bạn chưa nhập mật khẩu!</span>
                                </div>
                            </div>
                            <!--Re-Password-->
                            <div class="form-group">
                                <input type="password" class="form-control login-field" id="rePassword" placeholder="Nhập lại mật khẩu"
                                       ng-model="rePassword"
                                       name="rePassword"
                                       password-match="Password">
                                <label class="login-field-icon fui-lock" for="rePassword"></label>
                                @*<span class="glyphicon glyphicon-ok text-success form-control-feedback"
                                      ng-show="RegisterForm.rePassword.$dirty && RegisterForm.rePassword.$valid"></span>*@
                                <div ng-show="RegisterForm.rePassword.$dirty && RegisterForm.rePassword.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="RegisterForm.rePassword.$error.unique">Mật khẩu không giống nhau!</span>
                                </div>
                            </div>
                            <!--Email-->
                            <div class="form-group">
                                <input type="email" class="form-control fui-mail" id="Email" placeholder="Email"
                                       ng-model="User.Email"
                                       name="Email"
                                       required
                                       ng-trim="true">
                                <label class="login-field-icon fui-user" for="Email"></label>
                                @*<span class="glyphicon glyphicon-ok text-success form-control-feedback"
                                      ng-show="RegisterForm.Email.$dirty && RegisterForm.Email.$valid"></span>*@
                                <div ng-show="RegisterForm.Email.$dirty && RegisterForm.Email.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="RegisterForm.Email.$error.required">Bạn chưa nhập Email!</span>
                                    <span ng-show="RegisterForm.Email.$error.email">Email sai định dạng!</span>
                                </div>
                            </div>
                            <!--FullName-->
                            <div class="form-group ">
                                <input type="text" class="form-control login-field" id="FullName" placeholder="Tên đầy đủ"
                                       ng-model="User.FullName"
                                       name="FullName"
                                       required
                                       ng-trim="true">
                                <label class="login-field-icon fui-user" for="FullName"></label>
                                @*<span class="glyphicon glyphicon-ok text-success form-control-feedback"
                                      ng-show="RegisterForm.FullName.$dirty && RegisterForm.FullName.$valid"></span>*@
                                <div ng-show="RegisterForm.FullName.$dirty && RegisterForm.FullName.$invalid" class="text-danger">
                                    <span class="glyphicon glyphicon-remove text-danger"></span>
                                    <span ng-show="RegisterForm.FullName.$error.required">Bạn chưa nhập tên!</span>
                                </div>
                            </div>

                            <a class="btn btn-primary btn-lg btn-block" ng-click="submit()"
                               ng-disabled="!RegisterForm.$dirty || (RegisterForm.$dirty && RegisterForm.$invalid)">
                                <i class="fa fa-sign-in"></i> Đăng ký
                            </a>
                        </form>
@*                        <p class="text-center tip-info">*@
@*                            By signing up you agree to our <a>terms of use</a> , <a>privacy policy</a> , and <a>cookie policy</a> .*@
@*                        </p>*@
                        <div class="text-center">
                            <div class="boderbottom"></div>
                            <p>Có tài khoản? <a href="@Url.Content("/login")">Đăng nhập ngay</a></p>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>  <!--end content -->
