        <!-- begin DASHBOARD CIRCLE TILES -->
<div align="center" class="row centered">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading orange">
                    <i class="fa fa-bell fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content orange">
                <div class="circle-tile-description text-faded">
                    Người dùng mới tạo
                </div>
                <div class="circle-tile-number text-faded">
                    {{userList.NewUser}}
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading blue">
                    <i class="fa fa-tasks fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content blue">
                <div class="circle-tile-description text-faded">
                    Người dùng chưa kích hoạt
                </div>
                <div class="circle-tile-number text-faded">
                    {{userList.InActiveUser}}
                    <span id="sparklineB"></span>
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading purple">
                    <i class="fa fa-comments fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content purple">
                <div class="circle-tile-description text-faded">
                    Người dùng đã kích hoạt
                </div>  
                <div class="circle-tile-number text-faded">
                    {{userList.ActiveUser}}
                    <span id="sparklineD"></span>
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6">
        <div class="circle-tile">
            <a>
                <div class="circle-tile-heading dark-blue">
                    <i class="fa fa-users fa-fw fa-3x"></i>
                </div>
            </a>
            <div class="circle-tile-content dark-blue">
                <div class="circle-tile-description text-faded">
                    Tổng số người dùng
                </div>
                <div class="circle-tile-number text-faded">
                    {{userList.TotalUser}}
                    <span id="sparklineA"></span>
                </div>
                @*<a href="#" class="circle-tile-footer">More Info <i class="fa fa-chevron-circle-right"></i></a>*@
            </div>
        </div>
    </div>
</div>
<!-- end DASHBOARD CIRCLE TILES -->
<!-- begin NEW USER TABLES ROW -->
<div class="row">

    <div class="col-lg-12">

        <div class="portlet portlet-default">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h4>Danh sách Người dùng</h4>
                </div>
                <div class="portlet-widgets">
                    <a data-toggle="collapse" data-parent="#accordion" href="#UserTable" onclick="return false;"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="UserTable" class="portlet-body">
                <div id="EditCategoryModal" class="table-responsive">
                    <form name="EditCategoryForm">
                        <table id="example-table" class="table table-striped table-bordered table-hover table-green"
                               datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên đầy đủ</th>
                                    <th>Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Loại tài khoản</th>
                                    <th>Trạng thái kích hoạt</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="user in userList.ListUser" class="even gradeC" ng-class-odd="'odd'" ng-class-even="'even'">
                                    <td style="width:20px;" class="col-number">{{$index + 1}}</td>
                                    <td>{{user.FullName}}</td>
                                    <td>{{user.Email}}</td>
                                    <td style="width:90px; " class="col-number">{{user.PhoneNumber}}</td>
                                    <td style="width:90px; ">{{user.LoginType}}</td>
                                    <td style="width:124px;">
                                        <!-- <button class="btn btn-default">Inactive</button> -->
                                        <div ng-show="user.Status">
                                            <span class="label label-primary center-block green" style="padding: 9px">Đã kích hoạt</span>
                                        </div>
                                        <div ng-hide="user.Status">
                                            <span class="label label-primary center-block btn-default" style="padding: 9px">Chưa kích hoạt</span>
                                        </div>
                                    </td>
                                    <td style="width:100px;">
                                        <a tooltip="Nhấp để xem chi tiết" href="/admin/#/userprofile/{{user.UserName}}"><button class="btn btn-blue"><i class="fa fa-eye"></i></button></a>
                                        <a style="width:40px;" ng-show="user.StatusActive == false && user.Status == true" tooltip="Nhấp để mở khóa tài khoản" data-toggle="modal" data-target="#ConfirmModal" ng-click="warning(user.UserName,$index)" class="btn btn-red"><i class="fa fa-unlock"></i></a>
                                        <a style="width: 40px;" ng-show="user.StatusActive == true && user.Status == true" tooltip="Nhấp để khóa tài khoản" data-toggle="modal" data-target="#ConfirmModal"
                                           ng-click="warning(user.UserName,$index)" class="btn btn-green"><i class="fa fa-lock"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.portlet-body -->
        </div>
        <!-- /.portlet -->

    </div>
    <!-- /.col-lg-12 -->

</div>
<!-- /.row -->