@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi</title>
</head>
<body>
    <hgroup>
        <h1>Lỗi.</h1>
        <h2>Đã có lỗi xảy ra trong quá trình sử dụng.</h2>
    </hgroup>
</body>
</html>
