<div class="bg-min-height">
    <div class="content-error">
        <img src="/images/others/error.png" title="error" class="img-responsive center-block">
        <p><span>Rất xin lỗi nhưng.....</span>đã có lỗi xảy ra, mong bạn thử lại sau.</p>
        <a class="btn btn-primary" href="/#/home">Trở về trang chủ</a>
    </div>
</div>