@model dynamic

@{
    ViewBag.Title = "Quên mật khẩu";
}
<div class="container" ng-controller="ResetPwController">
    <div class="col-md-6 col-md-offset-3 text-center" style="margin-top: 100px">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="alert alert-danger alert-dismissible ng-cloak" role="alert" ng-show="Error != null">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{Error}}
                </div>
                <div class="alert alert-success alert-dismissible ng-cloak" role="alert" ng-show="Message != null">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Message:</span>
                    {{Message}}
                </div>
                <h6 class="bold">Nhập tên tài khoản hoặc địa chỉ Email bạn đã dùng để đăng ký tài khoản.</h6>
                <form role="form" name="ResetForm" novalidate class="mt30 ">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Địa chỉ Email..."
                               ng-model="Email"
                               name="Email"
                               ng-model-options="{ updateOn: 'change blur'}"
                               required
                               ng-trim="true" />
                        <span class="glyphicon glyphicon-ok text-success form-control-feedback"
                              ng-show="ResetForm.Email.$dirty && ResetForm.Email.$valid"></span>
                        <div ng-show="ResetForm.Email.$dirty && ResetForm.Email.$invalid" class="text-danger ng-cloak">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                            <span ng-show="ResetForm.Email.$error.required">Bạn chưa nhập tài khoản hoặc email</span>
                        </div>
                    </div>
                    <button class="btn btn-success" style="margin-top: 10px" ng-click="submit()"
                            ng-disabled="!ResetForm.$dirty || (ResetForm.$dirty && ResetForm.$invalid)">
                        Gửi mã
                    </button>
                </form>
                <div ng-show="IsSent" class="ng-cloak">
                    <hr />
                    <h5 class="bold">Hãy nhập mã code, sau đó chúng tôi sẽ gửi mật khẩu mới cho bạn.</h5>
                    <form role="form" name="CodeForm" novalidate class="mt30 center-block" style="width: 200px">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Nhập mã đã nhận..."
                                   ng-model="Code"
                                   name="Code"
                                   ng-maxlength="6"
                                   ng-minlength="6"
                                   ng-trim="true" />
                            <span class="glyphicon glyphicon-ok form-control-feedback text-success"
                                  ng-show="CodeForm.Code.$dirty && CodeForm.Code.$valid"></span>
                            <div class="text-danger ng-cloak" ng-show="IsWrongCode == true">
                                <span class="glyphicon glyphicon-remove text-danger"></span>
                                <span>Mã code không đúng</span>
                            </div>
                        </div>
                        <button class="btn btn-success" style="margin-top: 10px" ng-click="submitCode()"
                                ng-disabled="!CodeForm.$dirty || (CodeForm.$dirty && CodeForm.$invalid)">
                            Gửi mật khẩu mới
                        </button>
                    </form>
                </div>
            </div>
            <div class="panel-footer">
                <p>
                    Có tài khoản? <a href="@Url.Content("/login")">Đăng nhập ngay</a>
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    <script src="~/App/controllers/ResetPwController.js"></script>
    <script src="~/App/directives/SweetAlert.min.js"></script>
    <script src="~/App/directives/loading-bar.js"></script>
    <script src="~/App/directives/SweetAlert.min.js"></script>
    <script src="~/App/directives/ngEnter.js"></script>
    <script src="~/App/services/UserService.js"></script>
    <script src="~/App/services/CommonService.js"></script>
}
@section stylesheets{
    <link href="~/Content/loading-bar.css" rel="stylesheet" />
    <link href="~/Content/spinner/spinner.css" rel="stylesheet">
}