<div id="setting_container" class="paddingNavbar">
    <div class="row pull-right">
        <div class="col-sm-12 col-sm-offset-0">
            <ul id="" class="list-inline fnt18 fnt-b">
                <li class=""><a class="c-10" href="../#/project/createdProject">Dự án đã tạo</a></li>
                <li class=""><a class="c-10" href="../#/project/backedProject">Dự án đã ủng hộ</a></li>
                <li class=""><a class="c3" href="../#/project/starredProject">Dự án theo dõi</a></li>
                <!-- <li class=""><a class="c-10" href="account.html">Setting</a></li> -->
                <!-- <li class=""><a class="c-10" href="../Views/profile_public.html">Profile ( public )</a></li> -->
            </ul>
        </div>
    </div>
</div>

<div id="items-projects">
    <section id="portfolio" class="container">
        <h4 class="pt30">Dự án theo dõi</h4>
    <ul ng-if="length==0">Bạn hiện không theo dõi dự án nào</ul>
        <ul class="portfolio-items col-4">
            <li class="portfolio-item apps" ng-repeat="project in ListStarredProject">
                
                <div class="item-inner">
                    <div class="item-image hover01 column">
                        <a href="project_detail.html"><figure><img class="img-fit" src="\images\projects\{{project.ImageUrl}}" alt=""></figure></a>
                    </div>
                    <div class="item-title">
                        <h5><a href="/#/project/detail/{{project.ProjectCode}}">{{project.Title}}</a></h5>
                    </div>
                    <div class="item-content">
                        <p class="fnt15">{{project.SubDescription}}</p>
                    </div>
                    <div class="item-footer">
                        <div class="mt10 mb5">
                            <a class="grey-dark" href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true">&nbsp;</span>{{project.Location}}</a>
                            &nbsp;&nbsp;
                            <a class="grey-dark" href=""><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;</span>{{project.Category}}</a>
                            &nbsp;&nbsp;
                        </div>
                        <div class="progress mt5 mb5">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="{{project.CurrentFunded}}" aria-valuemax="100" style="width: {{project.CurrentFunded}}%">
                                <span class="sr-only">{{project.CurrentFunded}}% Complete (success)</span>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li><p class="fnt-b mt0 mb0 c00">{{project.CurrentFunded}}%</p><p class="mt0 mb0">ủng hộ</p></li>
                            <li><p class="fnt-b mt0 mb0 c00">{{project.CurrentFundedNumber}}</p><p class="mt0 mb0">gây quỹ</p></li>
                            <li><p class="fnt-b mt0 mb0 c00">{{project.ExpireDate}}</p><p class="mt0 mb0">ngày còn lại</p></li>
                        </ul>
                    </div>


                    <div class="titleHoverItem">

                        <a href="javascript:window.location.reload();" ng-click="deleteReminded(project.ProjectID)"><i class="fa fa-times"></i></a>

                    </div><!-- end hover Reward -->
                </div>    
                


</ul>
  
        <div class="clearfix"></div>
    </section><!--/#portfolio-->
</div>

<div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div> <!-- end SCROLL TO TOP -->