/** Responsive CSS **/

/* ============================= 1024px ====================== */

@media (max-width: 1094px) {



.login-form img {
    height: 110px;
    width: 300px;
    margin-top: 10px;
}

.login-form .input-text.js-auto_focus {
    margin: 10px 0 0 !important;
    width: 100%;
}


  .banner-section h1.headerlin {
    font-size: 2em;
  }

  body {
    overflow-x: hidden;
  }

  input.Email-texct[type="text"] {
    width: 100%;
  }

  .phone-veri-cont {
    width: 100%;
  } .cvn {
    float: right;
    width: 49%;
}


.See-full-bio-popup {
    clear: right;
    float: left;
    margin: 0 10px 0 0;
}

.botm-cntnt-right {
    border-radius: 50%;
    float: left;
    height: 100px;
    overflow: hidden;
    width: 100px;
}

.Contact-me-popup {
    float: left;
}

}
/* ============================= 1024px ====================== */


@media (max-width: 1024px) {
  .banner-section h1.headerlin {
    font-size: 2em;
  }

.reward-hover-outer{left: 29px; right: 29px;}

  .logos {

    position: relative;
    z-index: 9998;
}

.plnd-text {
    color: #9c9c9c;
    float: left;
    font-size: 12px;
    margin: 0 0 20px;
    width: 100%;
}

.pledgebtn{float: left;}

.logos > img {
    width: 150px;
}

.holder .login-form .button.button_green.submit{
    float: left;
    margin: 0 !important;
}

}


/* ============================= 991 ====================== */


@media (max-width: 991px) {
  .NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project {
    height: auto;
  }

  .NS_site__homepage_staff_picks .project:not(.selected) {
    display: block !important;
  }

  .NS_site__homepage_staff_picks .category-nav {
    display: block;
  }

  .logo-left {
    border-right: 1px solid #e1e1e1;
    padding: 0 13px 0 0;
  }

  .banner-section h1.headerlin {
    font-size: 2em;
  }

  .btn.btn-navbar {
    position: absolute;
    right: 0;
  }

  .NS_site__homepage_staff_picks .project1:not(.selected) {
    display: none !important;
  }

  .top-beting {
    border: 1px solid #ccc;
    float: left;
    padding: 0 20px;
    width: 100%;
  }

  .head-lin #term {
    background-position: 3px 6px;
  }

  .navbar .nav {
    margin: 0;
    padding: 0;
  }

  .rec, .character_counter_container {
    display: none;
  }

  .steps-navgiaton {
    margin-bottom: 10px;
  }

  .title-lined {
    padding: 20px 0;
  }

  .select-left {
    float: left;
    width: 100%;
  }

  .txtarea {
    width: 100%;
  }

  input.pledge-texct {
    width: 40%;
  }
  .head-right{
   
  }


.search-page-section h3 span {
    display: inline-block;
    float: none;
    margin-bottom: 10px;
}
.h3-tags{text-align: center;}

.ip-holder.col-md-10{
    padding: 14px 0 0;
}

.steps-navgiaton li{display: inline-block; float: none;}

.NS_site__homepage_staff_picks .projects-slider {
    float: left;
    overflow: visible;
    position: relative;
    width: 100%;
}

.after-menu{width: 100%}
.after-menu-left {
    float: left;
    width: 100%;
}

.after-menu-right {
    float: left;
    width: 100%;
}

.after-menu-right h3{padding: 13px 0 6px 26px;}

.stater img {
    clear: both;
    float: left;
    position: static;
}

.stater img + input {
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 10px !important;
}

.footer-bottom .col-md-9{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 0 20px;
}

.footer-bottom .col-md-3{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.foter-lin{text-align: center;}

.currency {
    float: none;
    display: inline-block;
}

.language {
    float: none;
    display: inline-block;
}

.after-menu-right ul {
    float: left;
    padding: 0 0 0 26px;
    width: 100%;
}


}



@media(max-width: 767px) {

  .request-btn{margin-left: 0}
  .logo-left {
    float: left;
    width: auto;
  }

  .head-right .my-nav {
    background: none repeat scroll 0 0 #fff;
    margin: 39px 0 0;
    width: 110%;
  }

  .head-right {
    float: left;
    width: 100%;
    position: absolute;
  }

  .seach-box {
    display: none;
  }

  li.seach-box {
    display: none;
  }

  .btn.btn-navbar {
    position: absolute;
    right: 0;
    top: 0;
  }

  .head-right {
    z-index: 999;
  }

  .navbar .nav > li.logged {
    float: left;
    width: 100%;
  }

  .head-right {
    padding: 4px 30px 0 0;
  }

  .banner-section h1.headerlin {
    font-size: 2em;
  }

  .seach-box.head-lin {
    border-top: 1px solid #ededed;
    float: left;
    width: 100%;
    display: block;
  }

  .seach-box.head-lin input {
    float: left;
    height: 37px;
    padding: 0 0 0 24px;
    width: 100%;
  }

  .step {
    width: 100%;
    padding: 0 20px;
  }

  .creatd {
    color: #0f2105;
    float: left;
    font-size: 21px;
    line-height: 70px;
    margin-bottom: 0;
    margin-top: 10px;
    line-height: 23px;
    text-align: center;
    width: 100%;
  }

  .stater li p {
    display: inline-block;
    float: none;
    font-size: 18px;
    padding: 0 9px;
    text-align: center;
  }

  .stater li span {
    font-size: 15px;
    padding: 8px 11px;
    width: 120px;
  }

  .stater input.text {
    font-size: 20px;
  }

  .work-holder {
    margin-bottom: 20px;
  }

  .chr-ful-wapr-sel .inpt-btn-cntnr input {
    margin: 0 10px 8px 0;
    width: 100%;
  }

  .titl-left-side {
    margin: 11px 0;
  }

  .viewprofil{width: 100%;margin: 0}

  .nav-collapse.navbar-collapse.in{
     padding: 0 0 4px 11px;
      border-bottom: 1px solid #cccccc;
    box-shadow: 0 2px 15px 0 #c0c0c0;
}

.navbar .nav > li > a{width: 100%}
.nav-collapse li {
    padding: 7px 0 3px;
}


.NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project {
    height: 593px;
    overflow: hidden;
}
.project-card-tall-big {
    float: left;
    height: auto;
    width: 100%;
}

.cntry-right {
    float: left;
    margin: 12px 0 0;
    padding: 10px 15px 0;
    width: 100%;
}
.subs-area .left-ara{margin-bottom: 20px;}

a.new-anothe{
    border-left: none;
    border-bottom: 1px dashed #ccc;
    float: left;
    padding: 21px 0;
    text-align: center;
    width: 100%;
}

.nav > a#profile {
    float: left;
}



}
/* ============================= 736px ====================== */

@media(max-width: 736px) {

}

/* ============================= 667px ====================== */


@media (max-width: 667px) {
  .NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project  {
    float: left;
    overflow: visible;
    width: 100%;
      padding: 0;
}

  .title-lined {
    padding: 40px 0 60px;
  }

  .title-lined span {
    font-size: 25px;
  }

  .title-lined p {
    font-size: 16px;
  }

  h3, .h3 {
    font-size: 14px;
    line-height: 21px;
  }

  h5, .h5, .responsive-media figcaption {
    font-size: 11px;
    line-height: 20px;
  }

  .top-tiles {
    font-size: 20px;
  }

  .pro-btn {
    font-size: 13px;
    height: auto;
    line-height: 60px;
    min-height: 40px;
    overflow: hidden;
    padding: 7px 10px;
  }

  .ing-left {
    float: left;
    text-align: center;
    width: 100%;
  }

  .ing-rit {
    float: left;
    text-align: center;
    width: 100%;
  }

  .nav-tabs > li > a {
    font-size: 12px;
    line-height: 10px;
    padding-bottom: 18px;
    padding-top: 17px;
  }

  .coment-area li {
    float: left;
    padding: 20px 0;
  }

  .nav-tabs > li > a:hover {
    font-size: 12px;
    line-height: 10px;
    padding-bottom: 18px;
    padding-top: 17px;
  }

  .full-description h1 {
    font-size: 14px;
    line-height: 20px;
  }

  .flo-ri {
    font-size: 13px;
  }

  .normal.title {
    font-size: 17px;
    padding: 30px 0 10px;
  }

  .sect-strt {
    font-size: 15px;
    width: 130px;
  }

  .start-btn {
    font-size: 16px;
    height: auto;
    line-height: 8px;
    min-height: 35px;
    padding: 2px 30px;
  }

  .steps-navgiaton li {
    border: 1px solid #ececec;
    margin: 4px;
  }

  .steps-navgiaton li a {
    border: none;
  }

   .mes-tile{
    margin: 0 0 20px;
    width: 100%;
   }

.cvn {
    float: left;
    margin: 13px 0 0;
    width: 100%;
}

.cvn span{
    float: left;
    padding: 1px 0 4px;
    width: 100%;
}
.ip-holder input.cvn-ip[type="text"] {
    margin: 0;
    width: 100%;
}

.NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project {
    float: left;
    height: 573px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.stater li{width: 100% !important;    margin: 0 !important;}


.login-form img {
    height: 110px;
    width: 300px;
    margin-top: 10px;
}

.login-form .input-text.js-auto_focus {
    margin: 10px 0 0 !important;
    width: 100%;
}

.clearfix.restlv {
    padding: 19px 0 0;
}

.forgt-pss{top: 24px;}


.table-space-container{float: left; width: 100%;overflow: scroll;}

.table-space-container table{
    width: 600px;
    
}


}

/* ============================= 600px ====================== */


@media (max-width: 600px) {

  .steps-navgiaton li a {
    color: #0f2105;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 7px;
  }

  .middle-right {
    display: inline-block;
    float: left;
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }
.middle-left {
    float: left;
    width: 100% !important;
}

  #project-card-preview {
    display: inline-block;
  }

  .top-date .option_label {
    border: medium none;
    width: 100%;
  }

  input.inp-text {
    width: 100%;
  }

  .steps-navgiaton {
    margin: 6px 2px;
  }

  .email-pre li .upload{width: 98%}
  .email-pre li textarea {
    width: 98%;
}

.email-pre li select {
    width: 98%;
}


.email-pre li p{width: 100%}

  .padisg0{padding: 0}

.rembr-future {
    display: inline-block;
    float: right;

    width: 90%;
}

.starrter-page h2 {
    font-size: 16px;}


.bg-white.discover .project-card .col-sm-5{ padding: 0;}

.middle-lefts {
    float: left;
    width: 100% !important;
}

.amont-bar li h3.mb0{ width: 100% !important;}

}

/* ============================= 568px ====================== */

@media (max-width: 568px) {
.stater li p{width: 100%;}

.sect-strt {
    font-size: 15px;
    margin: 20px 0 0;
    width: 100% !important;
}

  .top-rowss select{
    border-radius: 3px;
    float: left;
    height: 34px;
    margin: 0 0 10px;
    width: 100%;
}

.mesg-area{width: 100%}

.mesg-area input[type="text"] {
    float: left;
    width: 73%;
}

.stater img {
    clear: both;
    float: left;
    margin: 0 0 20px;
    position: static;
    width: 100%;
}
.mesg-area input[type="submit"]{
    float: left;
    width: 27%;
}

.email-pre li input {
    width: 100%;
}

.setig-li li a {
    font-size: 13px;
    padding: 0 5px;
}

.setig-li li:first-child a {
    padding: 0 7px 0 0;
}


   .email-pre li input.blus-btnl.rey {
      float: none;
    margin: 20px auto 0;
     width: 90px;
}

.project .project-card-wrap .project-card .col-sm-5{padding: 0}

li.mr2{   margin-right: 9px; font-size: 12px;}
.project-card-wrap ul.project-stats strong {
    font-size: 12px;
}

.block.h6 .h4 {    font-size: 12px;}




}

/* ============================= 480px ====================== */


@media(max-width: 480px) {

.pldg-titl{float:left; width:100%;}
  .middle-containers {
    padding: 0;
  }

  .new-reward-left {
    width: 100%;
    display: inline-block;
    text-align: center;
}


  .new-reward-left select{
    width: 100%;}
.new-reward-left .start-btn {
    display: inline-block;
    float: none;
    margin: 10px 0;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    font-size: 23px;
    left: -50%;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    font-size: 23px;
    right: -50%;
}

.ar-flow.cats {
    margin: 0 0 0px;
    width: 100%;
}

.search-page-section h3 span{width: 100%; text-align: center;}
.search-page-section h3 span {
    display: inline-block;
    float: none;
    margin: 10px 0 0;
    width: 100% !important;
}

.drp-arns.catagrgi {
    left: 0;
    right: 0;
    width: 100%;
}

.drp-arns{
    left: 0;
    right: 0;
    width: 100%;
    top: 43px;
}


}

/* ============================= 414px ====================== */

@media (max-width: 414px) {

  .ip-holder input.wid-67[type="text"] {
    width: 100%;
}
  .search-page-section h3 span {
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0;
    width: 90%;
}

.ar-flow.cats {
    width: 90%;
}

.ip-holder select {
    margin: 0 18px 10px 0;
    width: 100%;
}

.search-page-section h3 span.ar-flow{    padding: 6px 0 0 9px;}

.search-page-section h3 i {
    display: inline-block;
    float: right;
    margin: 0 11px;
}
.NS_site__homepage_staff_picks .category-nav{margin: 0}

.new-reward-left{width: 100%}
.new-anothe{
    border: medium none;
    padding: 16px 0 0;
    text-align: center;
    width: 100%;
}
.span-lint{float: left; width: 100%}
.titl-left-side {
    float: left;
    margin: 11px 0;
    width: 100%;
}

.rewd-area-left{ width: 90%;}
.rewd-area-right{width: 100%}
.table-cover{
    overflow-x: scroll;
    width: 100%;
}

.botm-cntnt {
    border-top: 1px solid #dedede;
    display: inline-block;
    float: none;
    margin: 30px 0 0;
    padding: 30px 0 40px;
    text-align: center;
    width: 100%;
}

.botm-cntnt-left {
    float: left;
    width: 100%;
}

.botm-cntnt-right {
    clear: both;
    display: inline-block;
    float: none;
    margin: 0 17%;
}

.See-full-bio-popup , .Contact-me-popup{width: 100%; text-align: center;}

#tab_default_1 .col-sm-7 {
    margin: 0;
    padding: 0;
}

.project-meta.list-inline.h6.mb1 li {
    float: left;
    margin: 0 0 4px;
    padding: 0;
    width: 100%;
}
.project-meta.list-inline.h6.mb1{float: left; width: 100%;}

}

/* ============================= 384px ====================== */


@media screen and (min-width: 384px) and (max-width: 413px) {
}

/* ============================= 375px ====================== */


@media (max-width: 375px){

  .setig-li li a {
    font-size: 13px;
    margin: 0 0 10px;
    padding: 0 5px;
    text-align: center;
    width: 50%;
}


.detail-top .col-md-4 {
    float: left;
    padding: 0;
    width: 100%;
}

.top-beting{ padding: 0 10px;}

}
/* ============================= 320px ====================== */


@media screen and (min-width: 320px) and (max-width: 374px) {
}



























































/** Responsive CSS **/

/* ============================= 1024px ====================== */
@media (max-width: 1024px) {
}

/* ============================= 768px ====================== */

@media screen and (min-width: 768px) and (max-width: 1023px) {

  .btn.btn-navbar {
    display: none;
  }

  .nav-collapse .nav > li {
    float: left;
  }

  .navbar .nav > li > a {
  }

  .nav-collapse, .nav-collapse.collapse {
    overflow: visible;
  }

  .navbar .nav .seach-box {
    border-left: 1px solid #ccc;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 18px 0 20px 13px;

    width: 190px;
}



}


/* ============================= 736px ====================== */

@media screen and (min-width: 736px) and (max-width: 767px) {

  .NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project {
    height: 760px;
    overflow: hidden;
}

}


/* ============================= 667px ====================== */


@media screen and (min-width: 667px) and (max-width: 735px) {


  .NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project {
    height: 760px;
    overflow: hidden;
}
}

/* ============================= 600px ====================== */


@media screen and (min-width: 600px) and (max-width: 666px) {

  .NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project{height: 633px;}
}

/* ============================= 568px ====================== */

@media screen and (min-width: 568px) and (max-width: 599px) {
  .NS_site__homepage_staff_picks .projects-slider, .NS_site__homepage_staff_picks .project{height: 633px;}

}

/* ============================= 480px ====================== */


@media screen and (min-width: 480px) and (max-width: 567px) {
}

/* ============================= 414px ====================== */

@media(max-width: 414px) {

  .mega-footer__header {
    margin-top: 20px;
  }

  .xplr-text {
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
}

/* ============================= 384px ====================== */


@media screen and (min-width: 384px) and (max-width: 413px) {
}

/* ============================= 375px ====================== */


@media(max-width: 375px) {
}
/* ============================= 320px ====================== */


@media screen and (min-width: 320px) and (max-width: 374px) {
}


