
@{
    ViewBag.Title = "Edit Project";
}

<style>
    form input[type=text], form input[type=date], form input[type=number] {
        display: inline;
    }
    textarea.form-control {
        vertical-align: top;
    }
</style>
<h2>Edit Project</h2>
<form class="form-horizontal" role="form" name="EditProjectForm" novalidate>
    <hr />
    <div class="alert alert-danger" role="alert" ng-show="Error != null">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{Error}}
    </div>
    <div class="alert alert-success" role="alert" ng-show="Success != null">
        <span class="glyphicon glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{Success}}
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Project Title: </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="ProjectTitle" ng-model="Project.Title" readonly />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Category: </label>
        <div class="col-sm-10">
            <select class="form-control" ng-model="selectedOption"
                    ng-options="category.Category for category in Categories track by category.CategoryId "
                    ></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="link">Description: </label>
        <div class="col-sm-10">
            <textarea class="form-control" name="Description" ng-model="Project.Description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Deadline: </label>
        <div class="col-sm-10">
            <input type="date" id="Deadline" required class="form-control" placeholder="dd/MM/YYY" name="Deadline" ng-model="Project.Deadline">
            <i class="fa fa-check text-success" ng-show="EditProjectForm.Deadline.$dirty && EditProjectForm.Deadline.$valid"></i>
            <div ng-show="EditProjectForm.Deadline.$dirty && EditProjectForm.Deadline.$invalid" class="text-danger">
                <i class="fa fa-times text-danger"></i>
                <span ng-show="EditProjectForm.Deadline.$error.required">Deadline is required</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Target Fund:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" name="TargetFund"
                   placeholder="Enter Fund Goal" ng-model="Project.TargetFund"
                   ng-trim="true" required>
            <i class="fa fa-check text-success" ng-show="EditProjectForm.TargetFund.$dirty && EditProjectForm.TargetFund.$valid"></i>
            <div ng-show="EditProjectForm.TargetFund.$dirty && EditProjectForm.TargetFund.$invalid" class="text-danger">
                <i class="fa fa-times text-danger"></i>
                <span ng-show="EditProjectForm.TargetFund.$error.required">Target Fund is required</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2"></label>
        <div class="col-sm-5">
            <img src="~/Images/{{Project.ImageLink}}" class="img-rounded" alt="Cinque Terre" width="" height="236">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2">Change Image: </label>
        <div class="col-sm-10">
            <input type="file" class="form-control" name="UploadImage" id="fileSelected"
                   file-model="fileURL">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary" ng-click="save()"
                    ng-disabled="!EditProjectForm.$dirty || (EditProjectForm.$dirty && EditProjectForm.$invalid)">
                Edit Project
            </button>
        </div>
    </div>
</form>
