<div>
    <div class="view_title text-center">
        <h2>{{Project.Title}}</h2>
        <p>by {{Project.Username}}</p>
    </div>
    <div class="view_overview">
        <div class="row">
            <div class="col-md-7">
                <div class="project-image">
                    <img src="images/{{Project.ImageLink}}" alt="" class="img-responsive center-block img-rounded">
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <h3>Category: </h3>
                    </div>
                    <div class="col-md-8 text-left">
                        <h3>{{Project.Category}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <h3>Target: </h3>
                    </div>
                    <div class="col-md-8 text-left">
                        <h3>$ {{Project.TargetFund}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <h3>Current: </h3>
                    </div>
                    <div class="col-md-8 text-left">
                        <h3>$ {{Project.CurrentFund}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">
                        <h3>Exprire: </h3>
                    </div>
                    <div class="col-md-8 text-left">
                        <h3>{{Project.Deadline | date: 'mediumDate'}}</h3>
                    </div>
                </div>
                <div class="row">
                    <h2>Description</h2>
                    <p>{{Project.Description}}</p>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary btn-group-justified btn-lg"
                            ng-click="OpenBackDialog()"
                            ng-disabled="ProjectExprire"
                            ng-class="{'btn-primary' : !ProjectExprire, 'btn-danger':ProjectExprire}">
                        {{ProjectExprire ? 'This project has exprired' : 'Back this project'}}
                    </button>
                </div>
            </div>
        </div> <!-- end col-md-4 -->
    </div>
</div>

@* Modal back *@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm" role="document">

        <form name="BackForm" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Back this project</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{'has-error': BackForm.$dirty && BackForm.$invalid}">
                        <label for="recipient-name" class="control-label">Amount ($): </label>
                        <input type="text" name="BackAmount" class="form-control" id="recipient-name"
                               ng-model="BackAmount"
                               required
                               ng-pattern="/^[1-9][0-9]*$/">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="Back()"
                            ng-disabled="!BackForm.$dirty || (BackForm.$dirty && BackForm.$invalid)">
                        Back
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
