<div class="jumbotron">
    <h1>Your Projects</h1>
</div>
<div class="row">
    <div class="col-md-4 pull-left" ng-repeat="Project in Project">
        <img src="~/Images/{{Project.ImageLink}}" class="img-rounded" alt="Cinque Terre" width="90%" height="236">
        <h3>
            {{Project.Title}}
        </h3>
        <p>
            <strong>Exprire Date:</strong> {{Project.Deadline | date : 'mediumDate'}}
        </p>
        <p>
            <strong>Goal:</strong> {{Project.TargetFund}}$
        </p>
        <p>
            <strong>Current:</strong> {{Project.CurrentFund}}$
        </p>
        <p>
            <a class="btn btn-default" href="/#/edit/{{Project.Id}}">Edit &raquo;</a>
        </p>
    </div>
</div>
