@* This is common payout of client page. *@
<body ng-app="HomeApp">
    <div ng-view class="slide-animation"></div>
</body>

@* All scripts is generated here. *@
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/md5")
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/App/HomeModule.js"></script>
    <script src="~/App/controllers/HomeController.js"></script>
    <script src="~/App/controllers/RegisterController.js"></script>
    <script src="~/App/services/UserService.js"></script>
<script src="~/App/services/SlideSevice.js"></script>
}