@* This is common payout of client page. *@
<div ng-view class="slide-animation"></div>

@* All scripts is generated here. *@
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/md5")
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/App/HomeModule.js"></script>
    <script src="~/App/controllers/RegisterController.js"></script>
    <script src="~/App/services/UserService.js"></script>
    <script src="~/App/services/SlideSevice.js"></script>
    <script src="~/App/directives/passwordMatch.js"></script>
    <script src="~/App/controllers/HomeController.js"></script>

    @* HuyNM *@
    <script src="~/App/services/ProjectService.js"></script>
    <script src="~/App/services/CategoryService.js"></script>
    <script src="~/App/controllers/CreateProjectController.js"></script>
    <script src="~/App/controllers/EditProjectController.js"></script>
}