



<div id="content" class="paddingNavbar">
    <div id="search">

        <div class="searchbar">
            <div class="container">
                <form ng-submit="Search(selectcategory,selectedorder,searchkey)">
                    <div class="control-group form-inline pt20 pb20">
                        <group ng-if="isAdvance">
                            <lable class="control-label fnt30 fnt-b">Tìm kiếm </lable>
                            <input ng-model="$parent.searchkey" type="text" class="form-control" placeholder="dandelion..." value="Dandelion" ng-enter="Search(selectcategory,selectedorder,searchkey)" />

                        </group>
                        <group>
                            <lable class="control-label fnt30 fnt-b">Hiển thị các dự án </lable>
                            <ui-select multiple ng-model="$parent.selectcategory" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="width: 200px;" title="Choose a category" ng-change="Search(selectcategory,selectedorder,searchkey)">
                                <ui-select-match placeholder="Choose a category...">{{$item.Name}}</ui-select-match>
                                <ui-select-choices repeat="cat in categoryList | highlight: $select.search">
                                    {{cat.Name}}
                                </ui-select-choices>
                            </ui-select>
                        </group>
                        <group>
                            <lable class="control-label fnt30 fnt-b"> sắp xếp theo </lable>
                            <select class="form-control fnt20" id="" ng-change="Search(selectcategory,selectedorder,searchkey)" ng-model="selectedorder">
                                <option value="PopularPoint">Phổ biến</option>
                                <option value="CreatedDate">Mới nhất</option>
                                <option value="ExpireDate">Ngày còn lại</option>
                                <option value="CurrentFunded">Ủng hộ</option>
                            </select>
                        </group>
                    </div>
                </form>
            </div>


            <div id="item-search" class="pt30 pb30">
                <section id="portfolio" class="container">
                    <div class="explore">
                        <span class="fnt30 fnt-b">Có</span>
                        <span class="fnt30 fnt-b color-green">{{projectResultListSize}} dự án</span>
                    </div>
                    <ul class="portfolio-items col-4">
                        <li class="portfolio-item" ng-repeat="project in projectbycategory">
                            <div class="item-inner">
                                <div class="item-image hover01 column">
                                    <a href="/#/project/detail/{{project.ProjectCode}}"><figure><img class="img-fit" ng-src="\images\projects\{{project.ImageUrl}}" alt="" style="width: 341px; height: 255.75px;"></figure></a>
                                </div>
                                <div class="item-title">
                                    <h5><a href="/#/project/detail/{{project.ProjectCode}}">{{project.Title}}</a></h5>
                                </div>
                                <div class="item-content">
                                    <p class="fnt15">{{project.SubDescription}}</p>
                                </div>
                                <div class="item-footer">
                                    <div class="mt10 mb5">
                                        <a class="grey-dark" href=""><span class="glyphicon glyphicon-map-marker" aria-hidden="true">&nbsp;</span>{{project.Location}}</a>
                                        &nbsp;&nbsp;
                                        <a class="grey-dark" href="@Url.Content("/#/search?categoryid={{project.CategoryID}}")"><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;</span>{{project.Category}}</a>
                                        &nbsp;&nbsp;
                                    </div>
                                    <div class="progress mt5 mb5">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="{{project.CurrentFunded}}" aria-valuemax="100" style="width: {{project.CurrentFunded}}%">
                                            <span class="sr-only">{{project.CurrentFunded}}% phần trăm (thành công)</span>
                                        </div>
                                    </div>
                                    <ul class="list-inline">
                                        <li><p class="fnt-b mt0 mb0 c00">{{project.CurrentFunded}}%</p><p class="mt0 mb0">ủng hộ</p></li>
                                        <li><p class="fnt-b mt0 mb0 c00">${{project.CurrentFundedNumber}}</p><p class="mt0 mb0">gây quỹ</p></li>
                                        <li><p class="fnt-b mt0 mb0 c00">{{project.ExpireDate}}</p><p class="mt0 mb0">ngày còn lại</p></li>
                                    </ul>
                                </div>
                            </div>
                        </li><!--/.portfolio-item-->

                    </ul>
                    <!-- <div class="form-actions txt-c">
                        <a class="btn btn-transparent btn-sm" href="discover.html">See more</a>
                    </div> -->
                </section><!--/#portfolio-->
                <a class="btn btn-transparent btn-sm" ng-if="showLoadMoreButton" ng-click="Loadmore(selectcategory,selectedorder,searchkey)" href="">Xem thêm</a>

            </div> <!-- end item-popular -->


        </div>

    </div> <!-- end content -->
</div>
