

<div id="content" class="paddingNavbar">
    <div id="content-title">
        <h2 class="container fnt-b">Thống kê</h2>
    </div> <!-- end TITLE -->

    <div id="content-1">
        <div class="container">
            <div class="row">
                <div class="col-md-5 pt15">
                    <p class="fnt45 fnt-800 h1 c3">{{totalFunded}} VNĐ</p>
                    <p class="fnt-b mt0 c3">số tiền được ủng hộ tới các dự án của Dandelion</p>
                </div>
                <div class="col-md-6 pt15">
                    <p class="fnt45 fnt-800 h1 c3">{{projectSucesedCount}}</p>
                    <p class="fnt-b mt0 c3">số dự án được gây quỹ thành công</p>
                </div>
            </div> <!-- end -->
            <div class="row">
                <div class="col-md-2">
                    <p class="fnt30 fnt-800 h2 c3">{{backingUserCount}}</p>
                    <p class="fnt-b mt0 c3">số người ủng hộ</p>
                </div>
                <div class="col-md-3">
                    <p class="fnt30 fnt-800 h2 c3">{{userBackmuchCount}}</p>
                    <p class="fnt-b mt0 c3">số người ủng hộ hơn 2 dự án</p>
                </div>
                <div class="col-md-2">
                    <p class="fnt30 fnt-800 h2 c3">{{numberOfBacking}}</p>
                    <p class="fnt-b mt0 c3">số lần ủng hộ</p>
                </div>
            </div>
        </div>
    </div> <!-- end content-1 STATISTIC -->
    <div id="content-2">
        <div class="container">
            <barchart id="bar" data-options="chart_options"></barchart>
        </div>
    </div> <!-- end content-2 GRAPH STATISTIC-->
    <div id="content-3">
        <div class="container">
            <div class="padding30">
                <div class="panel panel-primary">
                    <div class="panel-heading bold">
                        <form action="" class="form-inline">
                            <a style="color: white; text-decoration: none;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Top 10 dự án
                            </a>
                            <select class="form-control" ng-model="selectedCategoryIDTopProject" ng-change="getTopProjectList(selectedCategoryIDTopProject)">
                                <option value="All" selected="">Tất cả</option>
                                <option value="{{category.CategoryID}}" ng-repeat="category in categoryList">{{category.Name}}</option>
                            </select>
                        </form>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <table id="top10pProjectTable" class="table table-striped table-bordered table-hover">
                                <thead style="background: #16a085; color: #FFF">
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã dự án</th>
                                        <th>Danh mục</th>
                                        <th>Xếp hạng</th>
                                        <th>Tên dự án</th>
                                        <th>Số tiền ủng hộ</th>
                                        <th>Số người ủng hộ</th>
                                        <th>Tình trạng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="project in projectTopList">
                                        <td>{{$index}}</td>
                                        <td>{{project.ProjectCode}}</td>
                                        <td>{{project.Category}}</td>
                                        <td>{{project.PopularPoint}}</td>
                                        <td><a href="project_detail.html">{{project.Name}}</a></td>
                                        <td>${{project.CurrentFundedNumber}}</td>
                                        <td>{{project.Backers}}</td>
                                        <td>Success</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- end top projects -->
        </div>
    </div> <!-- end content-3 TOP PROJECTS-->
    <div id="content-4">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading bold">
                    <form action="" class="form-inline">
                        <a style="color: white; text-decoration: none;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Top 10 người ủng hộ
                        </a>
                        <select class="form-control" ng-model="selectedCategoryIDTopUserBack" ng-change="getUserTopBack(selectedCategoryIDTopUserBack)">
                            <option value="All" selected="">Tất cả</option>
                            <option value="{{category.CategoryID}}" ng-repeat="category in categoryList">{{category.Name}}</option>
                        </select>
                    </form>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <table id="top10pProjectTable" class="table table-striped table-bordered table-hover">
                            <thead style="background: #16a085; color: #FFF">
                                <tr>
                                    <th>.STT</th>
                                    <th>Xếp hạng</th>
                                    <th>Tên người ủng hộ</th>
                                    <th>Tổng số tiền gây quỹ</th>
                                    <th>Tổng số tiền ủng hộ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in UserTopBackList track by $index">
                                    <td>{{$index}}</td>
                                    <td>{{user.Rank}}</td>
                                    <td><a href="profile_public.html">{{user.Name}}</a></td>
                                    <td>${{user.TotalFunded}}</td>
                                    <td>{{user.TotalBacked}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  <!--end top backer -->
        </div>
    </div> <!-- end content-4 TOP BACKERS-->
    <div id="content-5">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading bold">
                    <form action="" class="form-inline">
                        <a style="color: white; text-decoration: none;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Top 10 người gây quỹ
                        </a>
                        <select class="form-control" ng-model="selectedCategoryIDTopUserFunded" ng-change="getUserTopFund(selectedCategoryIDTopUserFunded)">
                            <option value="All" selected="">Tất cả</option>
                            <option value="{{category.CategoryID}}" ng-repeat="category in categoryList">{{category.Name}}</option>
                        </select>
                    </form>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <table id="top10pProjectTable" class="table table-striped table-bordered table-hover">
                            <thead style="background: #16a085; color: #FFF">
                                <tr>
                                    <th>.STT</th>
                                    <th>Xếp hạng</th>
                                    <th>Tên người ủng hộ</th>
                                    <th>Tổng số tiền gây quỹ</th>
                                    <th>Tổng số tiền ủng hộ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in UserTopFundList track by $index">
                                    <td>{{$index}}</td>
                                    <td>{{user.Rank}}</td>
                                    <td><a href="profile_public.html">{{user.Name}}</a></td>
                                    <td>${{user.TotalFunded}}</td>
                                    <td>{{user.TotalBacked}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--end top creator -->
        </div>
    </div> <!-- end content-5 TOP CREATOR -->
</div> <!-- end CONTENT -->