@* This is common payout of client page. *@
<div ng-view class="slide-animation"></div>

@* All scripts is generated here. *@
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/md5")
    <script src="~/App/directives/text-angular/textAngular.min.js"></script>
    <script src="~/App/directives/text-angular/textAngular-rangy.min.js"></script>
    <script src="~/App/HomeModule.js"></script>
    <script src="~/App/controllers/RegisterController.js"></script>
    <script src="~/App/services/CommonService.js"></script>
    <script src="~/App/services/UserService.js"></script>
    <script src="~/App/services/SlideSevice.js"></script>
    <script src="~/App/directives/passwordMatch.js"></script>
    <script src="~/App/controllers/HomeController.js"></script>
    @* Need login *@
    <script src="~/App/controllers/MessageController.js"></script>
    <script src="~/App/services/MessageService.js"></script>
    <script src="~/App/controllers/MessageDetailController.js"></script>
    @* HuyNM *@
    <script src="~/App/services/ProjectService.js"></script>
    <script src="~/App/services/CategoryService.js"></script>
    <script src="~/App/controllers/CreateProjectController.js"></script>
    <script src="~/App/controllers/EditProjectController.js"></script>
    <script src="~/App/directives/ngAutocomplete.js"></script>
    <script src="~/App/directives/ngFileDirty.js"></script>
    <script src="~/App/directives/ngFileSelect.js"></script>
    <script src="~/Scripts/upload-img/upload-image.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <script src="~/App/directives/SweetAlert.min.js"></script>
    <script src="~/App/directives/ui-bootstrap(-tpls).js"></script>

    @* ManhLN *@
    <script src="~/App/controllers/ProjectDetailController.js"></script>
    <script src="~/App/directives/showTabDirective.js"></script>
    <script src="~/App/directives/elastic.js"></script>
    <script src="~/App/directives/ngEnter.js"></script>
    <script src="~/Scripts/data-tables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/data-tables/angular-datatables.min.js"></script>
    <script src="~/Scripts/data-tables/angular-datatables.bootstrap.js"></script>
    <script src="~/Scripts/Libraries/jquery.timelinr-0.9.54.js"></script>

    @* AnhDD *@
    <script src="~/App/controllers/PublicProfileController.js"></script>
    <script src="~/App/controllers/EditProfileController.js"></script>
}
@section stylesheets{
    <link href="~/Content/timeline.css" rel="stylesheet" />
    <link href="~/Content/Libraries/jquery.timelinr.css" rel="stylesheet" />
    <link href="~/Content/textAngular.css" rel="stylesheet"/>
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    @*<link href="~/Content/profilepublic.css" rel="stylesheet" />*@
    <link href="~/Content/data-tables/datatables.bootstrap.min.css" rel="stylesheet">
    @*<link href="~/Content/data-tables/datatables.min.css" rel="stylesheet">*@
}