html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
     font-family: "Helvetica Neue",Helvetica,Arial;
}

body {
    line-height:1;
	  font-family: "Helvetica Neue",Helvetica,Arial;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none; font-family: "Helvetica Neue",Helvetica,Arial;
}

li{list-style:none}
blockquote, q {
    quotes:none; font-family: "Helvetica Neue",Helvetica,Arial;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none; font-family: "Helvetica Neue",Helvetica,Arial;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent; font-family: "Helvetica Neue",Helvetica,Arial;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic; font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help; font-family: "Helvetica Neue",Helvetica,Arial;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
    border-color: inherit;
       box-shadow: 0 0 3px 0 #404040;
}



@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff2') format('woff2'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}



@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff2') format('woff2'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}



@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');
}



/*-------------------------------------------------------------------------------------------------
---------------------menu section----------------------------------------------------------------------*/

        .main-text
{
    position: absolute;
top: 48%;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}


.banner-container{float:left; width: 100%}


.carousel{margin-bottom: 0}


.alert-message{
    /*    border-color: #d9d9de;
        border-style: solid;
        background-color: white;
        border-width: 1px;*/
    padding: 15px;    
    width: 31%;
    margin: 0 auto;
    float: none;
    border-radius: 6px;
    margin-top: 2%;
    color: #828587;
    font-size:14px;
    text-align:center;
}

.error{
    background:#ffecec;
    border:1px solid #D8000C;
    color:#D8000C;
}
.success{
    background:#DFF2BF;
    border:1px solid #4F8A10;
    color: #4F8A10;   
}
.help-block{
    color:#D8000C !important;
    font-size:12px !important;
}
.has-error{
    border:1px solid #D8000C !important;
}
