<div class="container center-block" id="message-detail">
    <div id="" class="center-block">
        <div id="header_message" class="row">
            <div class="col-sm-2 align_col">
                <h1>Tin nhắn</h1>
            </div>
            <div class="col-sm-3 align_col" style="padding-top: 15px;">
                <a class="btn btn-default" href="@Url.Content("/#/user/message")">
                    Quay lại
                </a>
                <button class="btn btn-danger" ng-click="Delete()">
                    Xóa
                </button>
            </div>
        </div>
        <div class="row">
            <h4 class="subject">{{Conversation.Subject}}</h4>
            @*<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">*@
                <div class="panel panel-default" ng-repeat="Message in Conversation.MessageList">
                    <div class="panel-heading" role="tab" class="collapsed" role="button"
                         data-toggle="collapse" data-parent="#accordion" data-target="#message{{Message.MessageID}}" 
                         aria-expanded="false" aria-controls="message{{Message.MessageID}}">
                        <h4 class="panel-title">
                            <a>
                                {{Message.SenderName}}
                            </a>
                        </h4>
                    </div>
                    <div id="message{{Message.MessageID}}" class="panel-collapse collapse" ng-class="{'in' : $last}" role="tabpanel">
                        <div class="panel-body" ng-bind-html="Message.Content">
                        </div>
                    </div>
                </div>
            @*</div>*@
        </div>
        <div class="row">
            <button class="btn btn-primary submit" ng-click="ReplyMessage()">Trả lời</button>
            <div text-angular name="Content" ng-model="Reply.Content"></div>
        </div>
    </div>
</div>

