<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="vn.baokim.www.init" value="https://www.baokim.vn/services/payment_pro_2/init"/>
    <add key="vn.baokim.sandbox.init" value="http://sandbox.baokim.vn/services/payment_pro_2/init"/>
  <add key="vn.baokim.kiemthu.init" value="http://kiemthu.baokim.vn/services/payment_pro_2/init"/>
  </appSettings>
</configuration>