#header_link{
	margin-top: 50px;
	text-align: right;
}

#setting_container h1{
	font-weight: bold;
}
#setting_container{
	margin-right: 100px;

}

#project_list ul{
	padding: 0;
}

.margin_listproject{
	margin-bottom: 20px;
}

.remove_pading{
	padding: 0;
}

.project_name{
	padding-left: 20px;
}	

.textRight {
text-align : right;
}

#project_list img{
	width:100%;
	height: auto;
}

.remove_border_buttom{
	border: 0 none;
}

.project_box{
	border: 1px solid #ccc;
}

.img-overflow{
	overflow: hidden;
}

.vertical_bot{
	vertical-align: bottom;
}