.feature2_animation_box, .first_link{
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;     
}

#listtext_header{
  height:55px;  
  overflow: hidden;
  padding: 10px 0px 0px 0px;
}

.inline{
  display: inline-block; 
}

.animation_text_header{
  animation: textheader 50s ease-in-out infinite ;
}


@-webkit-keyframes textheader {
    0%{
      margin-top: 0px;
    }
    9%{
      margin-top: 0px;
    }
    10%{
      margin-top: 55px;
    }
    19%{
      margin-top: 55px;
    }
    20%{
      margin-top: 110px;
    }
    29%{
      margin-top: 110px;
    }
    30%{
      margin-top: 165px;
    }
    39%{
      margin-top: 165px;
    }
    40%{
      margin-top: 220px;
    }
    49%{
      margin-top: 220px;
    }
    50%{
      margin-top: 275px;
    }
    59%{
      margin-top: 275px;
    }
    60%{
      margin-top: 330px;
    }
    69%{
      margin-top: 330px;
    }
    70%{
      margin-top: 385px;
    }
    79%{
      margin-top: 385px;
    }
    80%{
      margin-top: 440px;
    }    
    89%{
      margin-top: 440px;
    }
    90%{
      margin-top: 495px;
    }
    99%{
      margin-top: 495px;
    }
    100%{
      margin-top: 0px;
    }   
}


@-webkit-keyframes leaves {
    100% {
        background-color: #555;
    }
}

.firstlist{
  margin-bottom: -550px;
  overflow: hidden;
}

.first_link{
  margin-bottom: -200px;
}

.liveproject_art_font{
  color: #ecf0f1;
  font-size: 15px;
  font-weight: bold;
  font: Aria;
}

.feature2_animation_box:hover{
   background-color: #555;
}


.feature2_animation_box{
  overflow: hidden;
}

.feature2_animation_box:hover .first_link{
  margin-top: 174px;
}
