.container{
	margin-top: 50px;
	margin-left: 150px;
}

#header_message h1{
	padding: 0px;
	margin: 0px;
	text-align: left;

}

.align_col{
	padding: 10px 20px 10px 0px;
}

#header_message{
	margin-top: 50px;
	margin-bottom: 30px;
}

/*search box*/
#search_box{
	padding-left: 150px;
}
 
#search-btn {
	background:#449933;
	color:white;
	padding:10px 20px;
	border-radius:0 10px 10px 0;
	border:0 none;
	font-weight:bold;
	margin: 0px;
}
 
#search-box {
	font-style: italic;
 }

#search_box .search-box {
  float: left;
  width: 200px;
  height: 34px;
 /* padding: 5px;*/
  position: relative;
}

#search_box .search-box input,x
#search_box .search-box .icon {
  transition-duration: .3s;
}

#search_box .search-box input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	border: 0;
	padding-left: 35px;
	margin: 0;
	height: 40px;
	outline: none;
	color: #999;
	background: transparent;
	border-radius:10px 0 0 10px;
	border: 1px solid #ccc;
  transition-timing-function: cubic-bezier(0.3, 1.5, 0.6, 1);
}

#search_box .search-box input:focus{
  color: #333;
  border-color: #d6d6d6;
  width: 150%;
}


#search_box .search-box .icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  opacity: .5;
}

#search_box .action-bar {
  padding: 20px 60px;
  border-bottom: 1px solid #efefef;
  overflow: hidden;
}
#search_box .action-bar li {
  float: left;
  margin-right: 10px;
}

.circle-icon.small {
  height: 25px;
  width: 25px;
  line-height: 23px;
  font-size: 11px;
}
.circle-icon:hover {
  color: #57636C;
  border-color: #57636C;
}
.circle-icon.red {
  color: #d23b3d;
  border-color: #d23b3d;
}
.circle-icon.red:hover {
  color: #791C1E;
  border-color: #791C1E;
}

.circle-icon {
  width: 30px;	
  height: 30px;
  line-height: 28px;
  border: 2px solid #B4BBC1;
  border-radius: 100px;
  font-size: 14px;
  color: #B4BBC1;
  cursor: pointer;
  display: inline-block;
}

#action_bar{
	padding: 0;
}

/*message list*/
#table_message{
	margin-top: 20px;
}

#table_message {

	border-top: 1px solid #B4BBC1;
/*	border-bottom: 1px solid #B4BBC1; */
}

#table_message th , td{
	padding: 15px;
}

#col_checkbox{
	width: 5%;
}

#col_checkbox input{
	width: 20px;
	height: 20px;
}

#col_from{
	width: 25%;
}

#col_content{
	width: 60%;	
}

#col_time{
	width: 10%;
}