<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <h1 class="error-title">404</h1>
        <h4 class="error-msg"><i class="fa fa-warning text-red"></i> Không tìm thấy</h4>
        <p class="lead">Trang web không tồn tại hoặc dữ liệu bạn tìm kiếm không đúng</p>
        <ul class="list-inline">
            <li>
                <a class="btn btn-default" href="/admin/#/dashboard">Quay về trang chính</a>
            </li>
            <li>
                <a class="logout_open btn btn-red" href="@Url.Content("/admin/logout/")">Thoát</a>
            </li>
        </ul>
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->